.btn-xs {
	padding: 1px 4px
}
div.bhoechie-tab-content {
	background-color: #fff;
	padding-left: 20px;
	padding-top: 10px
}
div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #5a55a3
}
/*p {
	width: auto;
	float: left
}*/
.note_converted {
	width: 100%;
	float: left
}
.monthly-sale p {
	width: 100%;
	float: left
}
.videoimg {
	width: 340px;
	height: 340px
}
.bycheque {
	display: none
}
.my_carousel {
	width: 80%;
	position: relative;
	text-align: center;
	text-shadow: none;
	opacity: 1;
	font-size: 12px
}
.myCarousel_inner {
    height: 99px;
}
.datepicker>div {
	display: block
}
.displayDropdown {
	position: relative
}
#bank-lists {
	position: absolute;
	width: 92%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1
}
.business_record {
	padding: 0 4px
}
.closebtn {
    margin-top: -64px;
}
@media only screen and (max-width: 1024px) {
	.navbar-brand {
		padding: 11px 3px;
		width: 48px
	}
	.google_map {
		height: 1000px
	}
	.navbar-nav>li>a {
		padding: 20px 13px
	}
	.navbar-form .form-control {
		width: 161px
	}
	.container-fluid {
		width: 100%
	}
	.countclient {
		width: 100%;
		float: left
	}
	.countclient1 {
		width: 100%;
		float: left
	}
	.note_converted {
		width: 100%;
		float: left
	}
	.note_converted p {
		width: 3%
	}
	.navbar-form {
		padding: 10px 2px!important
	}
	.details h3 p {
		font-size: 20px
	}
	.monthly-sale p {
		width: 100%;
		float: left
	}
	.border-table {
		width: 100%;
		float: left
	}
	.border-table1 {
		width: 100%;
		float: left;
		margin-bottom: 5%
	}
	.dsr_form_reports_tb {
		margin-bottom: 2%
	}
	.details .welcome {
		font-size: 21px
	}
	.videoimg {
		width: 238px;
		height: 318px
	}
	.details h3 {
		font-size: 16px
	}
	.bycheque {
		display: block
	}
	.my_carousel {
		width: 91%
	}
	.page-header {
		margin: 10px 0 13px 0;
		font-size: 20px
	}
	.content {
		padding: 13px
	}
	.sidebar{
		margin-top: 4%;
	}
}
@media only screen and (max-width: 800px) {
	.container-fluid {
		width: 78%;
		margin-right: 0;
		padding-left: 6%
	}
	.navbar-right {
		margin-right: -15px
	}
	.navbar-form {
		padding: 10px 3px
	}
	.navbar-nav>li>a {
		padding: 0 13px;
		padding-bottom: 9%
	}
	.navbar-form .form-control {
		width: 200px
	}
	.breadcrumb {
		margin-top: 1%
	}
	.sidebar .nav>li.nav-header {
		margin-top: 16%
	}
	.details h3 {
		font-size: 17px
	}
	.content {
		margin-top: 3%;
		margin-left: 0
	}
	.page-header {
		margin-top: 1%
	}
	h3 span {
		font-size: 18px;
		width: 34%
	}
	.calender {
		padding: 6px 6px
	}
	.details p {
		margin: 0;
		padding: 0;
		float: left
	}
	#datepicker-disabled-past {
		padding-left: 5%
	}
	.clr_box {
		width: 2%;
		margin-top: 4px
	}
	.note_converted p {
		width: 5%
	}
	.note_converted {
		width: 100%;
		float: left
	}
	.detail h3 span {
		width: 100%;
		float: left
	}
	.btn-group-sm>.btn,
	.btn-sm {
		font-size: 9px
	}
	.row>[class*="col-"] {
		padding: 0 9px
	}
	.row h5 b {
		font-weight: 400
	}
	.monthly-sale p {
		width: 100%
	}
	.myCarousel_inner {
		height: 153px
	}
	.new_table {
		margin-top: 3%
	}
	.selectdate b {
		width: 65%;
		float: left;
		font-size: 14px
	}
	.new_head_title {
		width: 100%;
		float: left;
		margin-bottom: 3%
	}
	.details h3 p {
		font-size: 19px
	}
	.videoimg {
		width: 80%;
		height: 314px;
		float: left
	}
	.sidebar,
	.sidebar-bg {
		display: none
	}
	.new_btn,
	.closebtn {
		display: block
	}
	.closebtn {
		margin-top: 26px
	}
	.selectPortion {
		width: auto;
		float: left
	}
	.Report {
		width: 20%;
		float: left
	}
	.myCarousel_inner {
		height: 100px
	}
	.month_div p {
		margin: 0 0 5px
	}
	div.bhoechie-tab-menu div.list-group>a.active::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		margin-top: -13px;
		border-left: 0;
		border-bottom: 13px solid transparent;
		border-top: 13px solid transparent;
		border-left: 10px solid #5a55a3;
		transform: rotate(88deg)
	}
	.registred_info {
		padding: 2%
	}
}
@media only screen and (max-width: 450px) {
	body,
	html {
		overflow-x: hidden
	}
	.container-fluid {
		width: 73%;
		padding-left: 8%
	}
	.navbar-form .form-control,
	.navbar-form .form-control:focus {
		width: 172px!important
	}
	.container-fluid {
		padding-top: 2%;
		padding-bottom: 2%
	}
	.navbar-brand {
		margin-right: 0;
		width: 60px;
		padding: 12px 10px
	}
	.navbar-form {
		padding: 1px 3px!important
	}
	.navbar-form .btn-search {
		top: 2px
	}
	.navbar-nav>li>a {
		padding: 10px 8px
	}
	.timedate {
		display: none
	}
	.new_head_title b {
		width: 100%;
		float: left;
		padding-bottom: 4%
	}
	.row>[class*="col-"] {
		margin-right: 0
	}
	.selectdate b {
		padding-top: 5%;
		width: 100%;
		float: left
	}
	.submitblock {
		margin-top: 2%
	}
	div.bhoechie-tab-menu div.list-group>a {
		width: 20%;
		float: left
	}
	div.bhoechie-tab-content {
		padding-left: 2px;
		padding-top: 10px
	}
	.month_div monthly-sale {
		margin-bottom: 7%
	}
	.new_table {
		margin-top: 6%
	}
	h3 b {
		text-align: center;
		float: left;
		width: 100%;
		padding-top: 2%
	}
	div.bhoechie-tab-menu div.list-group>a.active:after {
		left: 50%;
		top: 100%;
		transform: rotate(88deg)
	}
	.videoimg {
		width: 340px;
		height: 340px;
		float: left
	}
	.bycheque {
		display: none
	}
	.content {
		margin-top: 1%
	}
	.details h3 {
		font-size: 15px;
		padding: 0
	}
	#bank-lists {
		position: absolute;
		width: 56%
	}
	.mydiv {
		display: none
	}
	.loginDetails {
		padding-top: 4%
	}
	.page-header {
		margin: 0;
		font-size: 14px
	}
	.profile-user-img {
		width: 35%;
		text-align: center
	}
	.business_name {
		margin-top: 7%
	}
	.selectDate {
		margin-top: 1%
	}
	.source_bottom {
		margin-bottom: 2%
	}
	.dongle_bottom {
		margin-bottom: 4%
	}
	.pagination_list {
		width: 100%;
		float: left
	}
	.navbar-nav>li>a .label {
		top: 1px
	}
	.btn.btn-primary {
		margin-bottom: 1%
	}
	h3 span {
		font-size: 16px
	}
	.closebtn {
		margin-top: 0px
	}
	.sidebar .nav > li.nav-header {
    margin-top: 2%;
}
.browse_img{
	width: 63%;
	float: left;
}
}
@media only screen and (max-width: 400px) {
	.container-fluid {
		width: 76%;
		padding-left: 5%
	}
	.breadcrumb {
		margin-top: 5%
	}
	.button {
		margin-bottom: 2%
	}
	.details h3 {
		font-size: 14px;
		padding: 0
	}
	h3 b {
		text-align: center;
		float: left;
		width: 100%;
		padding-top: 2%
	}
}
@media only screen and (max-width: 350px) {
	.container-fluid {
		width: 69%
	}
	.row>[class*="col-"] {
		padding: 0 9px
	}
	.btn-group-sm>.btn,
	.btn-sm {
		font-size: 12px
	}
	.navbar-form .form-control,
	.navbar-form .form-control:focus {
		width: 108px!important
	}
	.breadcrumb {
		padding-top: 8%
	}
	.breadcrumb>li a {
		font-size: 14px
	}
	.breadcrumb>.active {
		font-size: 14px
	}
	.page-header {
		margin: 0;
		font-size: 13px
	}
	label {
		width: 100%
	}
	.details p {
		font-size: 14px;
		float: left
	}
	.btn.btn-primary {
		margin-right: 2%
	}
	.details label {
		font-size: 14px
	}
	h3 span {
		width: 100%;
		float: left;
		padding-bottom: 1%;
		font-size: 18px
	}
	.details h3 {
		font-size: 18px
	}
	.btn.btn-warning {
		margin-bottom: 1%;
		margin-top: 1%
	}
	h3 b {
		width: 100%;
		float: left
	}
	hr {
		margin-top: 4px
	}
	.new_btn {
		top: 67px;
		left: 24px
	}
	.source_search {
		padding: 0
	}
}