body,html{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
overflow-x: hidden;
}
.center{
	margin: 11% auto;
	width: 30%;
	border: 1px solid lightgray;
	padding: 29px;
}
.login_btn{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: -1%;
}
.block:hover{
	background: rgba(0,0,0,0.2);
}
.blck_img:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.marquee{
	width: 100%;
	float: left;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 8% 0px;
}
.homeBullet {
    padding-top: 5px;
    vertical-align: top;
    width: 2px;
}
.clBlueBox {
    background: #E7ECF2;
    text-align: left;
    border: solid 1px #CED7E8;
}
.block{
	width: 20%;
	margin-left: 2%;
	float: left;
	border: 1px solid lightgray;
	padding: 1%;
	border-radius: 4px;
	margin-bottom: 1%;
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,.2);
	height: 102px;
}

.container-fluid{
    width: 90%;
}

.blck_img{
	float: left;
	margin:0 auto;
	text-align: center;
	position: relative;
	width: 100%;
}
.block img{
	width: 40%;
}
.blck_img p{
	margin-bottom: 2px;
}
.block i{
	font-size: 40px;
     text-align: center; 
    width: 100%;
}
.calendr{
	color: black;
	border-radius: 10px;
	border: 1px solid lightgray;
	background: lightgray;
	padding: 6px 7px;
}
.form_datetime{
	width: 3%;
}
.header{
	background-color: #275FA9;
}
.header_right{
	width: 35%;
}

.fa{
    position: relative;
    font-size: 17px;
    cursor: pointer;
    float: left;
}
.fa-angle-up{
	    top: 6px;
    /* text-align: center; */
    width: 100%;
    float: left;
}
.badge{
    position: relative;
    top: -10px;
    background: red;
    padding: 2px 3px!important;
    font-size: 10px;
}
/*.dropdown{
	width: 22%;
    float: left;
    top: 15px;
}*/
/*.dropdown-menu{
	top: 37px;
}*/
#search1 {
   
  padding: 3px;
  padding-right: 60px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  cursor: pointer;
}
/*#search{
       width: 100%;
    font-size: 16px;
    margin-top: 4px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 208px 5px;
    background-repeat: no-repeat;
    border-radius: 19px;
    padding: 12px 20px 12px 12px;
}*/
.user_prof{
	width:14%;
    float: left;
    margin-top: 10%;
}
.opportunities{
	padding: 16px;
}
.user_name{
	margin-top: 13px;
    color: white;
    margin-left: 2%;
}
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: white;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}
ul.breadcrumb li a {color: blue;}

.details,.opportunities{
    background-color: white;
    width: 100%;
    float: left;
    padding: 1%;
}
.form2{
	background-color: #EBEBEB;
	padding: 30px;
}
label{
    color: black;
    font-size: 15px;    
}
.buttons{
	padding: 10px 39px;
}
.wrapper_login{
/*	background-image: url('../img/bg_login.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
}
.modal_ul{
	list-style-type: decimal;
}
.caret{
	position: relative;
    top: 8px;
    width: 9px;
    color: white;
}
.heading{
	background-color: #275FA9;
	width: 100%;
	float: left;
	margin-bottom: 1%;
}
h4{
	width: 95%;
    float: left;
    color: white;
    margin-left: 1%;
}
/*.fa-users{
	    margin-left: 8px;
    top: 9px;
}*/
.tables{
	width: 100%;
	float: left;
}
.btn-default{
	background-color: #B6B6B6;
	color: white;
}
.one{
	width: 100%;
    padding: 8px 8px;
    float: left;
    border-bottom: 1px solid lightgray;
}
.register{
    width: 45%;
      margin: 3% auto;
    border: 1px solid lightgray;
    padding: 1%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    border-radius: 10px;

}
textarea{
	resize: none;
}
.register-buttons{
    width: 100%;
    margin: 3% auto;
    float: left;
    text-align: center;
}
.register-buttons input{
    width: 15%;
    margin: 0 auto;
}
#container1,#container2,#container3,#container4{
	border: 1px dotted lightgray;
}
#search{
	width: 200px;
    padding: 5px 15px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.crm_new_reg{
	margin: 3% 0px;
}

/*User Profile Css*/
.user-profile-box {
    background-color: white;
    border-top-color: #3c8dbc;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.img-circle {
    border-radius: 50%;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-user-personal-info {
    margin-bottom: 0px !important;
}
.user-profile-subsection {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.user-profile-section {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.user-personal-info {
    padding-left: 25px !important;
    padding-right: 11px !important;
    font-size: 15px;
}
.user-eduction-pro {
    width: 100%;
    float: left;
}.user-other-information {
    width: 90%;
    float: left;
}
.u1 {
    padding-right: 5px;
    color: teal;
    text-decoration: none;
}
.box1 {
    position: relative;
    border-radius: 10px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    text-align: center;
    width: 65%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
}
#datepicker-disabled-past{
    width: 1%;
}
.location_name{
    width: 7%;
    float: left;
}
.location_select{
    width:30%!important;
    float:left;
}



@media only screen and (max-width: 1300px){
	.fa{
		font-size: 16px;
	}
	.set{
		padding: 0px;
	}
	.user_name{
		font-size: 13px;
	}
}
@media only screen and (max-width: 1200px)
{
.fa {
    font-size: 13px;
}
.user_name {
    font-size: 11px;
}
/*#search {
    margin-top: 2px;
    background-position: 177px 5px;
}*/
}

@media only screen and (max-width: 450px){
	.login.login-v2 {
    margin: 50px 0;
    width: 90%;
    left: 17px;
}
}