.customize-control-kirki-radio-image input:checked + label img {
  border: 3px solid #fff !important;
  border-radius: 4px; }

.customize-control-kirki-radio-image label img {
  border-radius: 4px;
  border: 3px solid #ddd; }