#suggesstion-adv li{
	padding: 2%;
	border-bottom: 1px solid lightgray;
}
#suggesstion-adv{
	background: white;
	list-style-type: none;
	min-height: 30px;
	max-height: 140px;
	position: absolute;
	overflow: auto;
	border: 1px solid lightgray;
	width: 92%;
	z-index: 1;
}

.fetchdataloader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	float: right;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#causelist-download{
	display: none;
}