  .select2-container{
    display: none;
  }
  .card-contact-us{
background-color: #2d4866
  }
  .card-contact-us span{
    color: white;font-size: 12px;padding: 15px 0px;text-align: center;
  }
  .card-contact-us input{
    height: 35px;
    width: 100%;
  }
  .card-contact-us textarea{
    height: 85px;
    width: 100%;
  }
  .needhelpsubmit{
    text-align: center;
  }
  .card-contact-us button{
    border-color: white;color: white;background-color: #2d4866;font-size: 12px;width: 100px;padding: 5px;align-self: center;margin-bottom: 30px;border-width: 3px;
  }
  .card-upcoming-dates{
    border-radius: 15px 15px 0px 0px;padding: 0px;
  }
 .card-upcoming-dates .card-header{
  border-radius: 15px 15px 0px 0px;font-size: 12px;padding: 15px 0px;text-align: center;background-color: #2d4866;color: white;
   }
   .card-pending{
    border-radius: 15px 15px 0px 0px;padding: 0px;
   }
   .card-pending .card-header{
    border-radius: 15px 15px 0px 0px;font-size: 12px;padding: 15px 0px;text-align: center;background-color: #2d4866;color: white;
   }
   .card-pending .card-body{
    font-size: 0.85rem;
   }
   .card-myform{
    
   }
   .card-myform{
    float: right;font-size: 12px;
   }
   .card-myform .card-header{
padding-bottom: 0px
   }
   .file-div{
    font-size: 12px
   }
   .file-text{
    padding: 0px;
   }
   .file-iput{
    font-size: 12px;padding: 0px;
   }
   .type-div label{
    font-size: 12px;
   }
   .document-div{
    padding-left: 12px;
   }
   .discription-div{
  padding: 0px 20px 0px 0px;
}
.upload-btn{
background-color: #2d4866;color: white;margin-right: 10px;
}
/*.cancel-btn{
  background-color: #2d4866;color: white
}*/
.form-chk{
   margin: 0px 10px;
   margin-top: 0px !important;
}