.fc .fc-button-group .fc-button {
    background-color: #ffffff;
    margin: 0;
}
.fc button {
    height: auto;
    background-image: none;
    text-shadow: none;
    font-weight: 400;
    background-color: #ffffff;
    border-color: #e3e7ed;
    text-transform: capitalize;
    color: #a8b2b9;
    font-size: 0.875rem;
    padding: 0.282rem 1rem;
}
.btn-group, .fc .fc-button-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.select2-dropdown{
    z-index: 10000000000;
}
.xdsoft_datetimepicker{
    z-index:9999999999!important;
}
.fc-event {
    position: relative;
    display: block;
    font-size: .85em;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid #3788d8;
}
.fc .fc-event {
    border: 0;
    color: #ffffff;
    /* padding: .5rem; */
    padding: .1rem;
    text-align: center;
}
.fc-day-grid-event .fc-content {
    text-overflow: ellipsis;
}
.fc .fc-event .fc-title, .fc .fc-event .fc-time {
    /* color: #ffffff; */
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fc .fc-event.fc-start {
    /* background: #7571f9; */
    /* background: #b8b6e4; */
    background-color: #d9dee4;
    border-radius: 4px;
    /* border-left: 4px solid #7571f9; */
}
.fc-time-grid-event {
    background-color: burlywood!important;
}
