  .srno-report{
    width: 5%!important;
  }
  .filter_team{
    width: 100%;
  }
  .checkclass{
    width: 4%!important;
  }
  .court-report,.title-report,.team-report,.hearing-report,.action-report{
    width: 6%!important;
  }
  .case-report{
   width: 2%!important;
 }
 .case-details-report{
  width: 2%!important;
 }
 .header_checkbox{
  text-align: center;
 }
 /*.table{
   table-layout: fixed;
   }*/
/* .table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
  vertical-align: middle;
  line-height: 1.462;
  white-space: normal;
  word-break: break-word;
  vertical-align: top;
  }*/

  .table td, .jsgrid .jsgrid-table td {
    vertical-align: middle;
    line-height: 1.462;
    white-space: normal;
    word-break: break-word;
    vertical-align: top;
  }
  hr{
   border-top: 1px solid white;
 }
 .addCasesbtn{
  padding: 6px;
  position: absolute;
  left: 690px;
  z-index: 1;
  background-color:#ECECEC;
  top: 46px;
}
textarea {
  overflow: auto;
  resize: vertical;
}

.searchanysubmit{
  background-color: #2d4866 !important;
  color: white;
  border-color: #2d4866;
} 
.clrresponse_row{
  padding: 2% 3%;
}
.clrmodal{
  max-width: 50%;
}
.filterlabel{
  margin-bottom: 0px;
}
.btn_case_law ,.btn_case_law:hover{
  color: black;
  background: #ECECEC;
  border-color: black;
}
#order_listing tr td,#order_listing tr th{padding: 10px;}
.add-cases{
  float: right;
}
.add-cases i{
  position: relative;left: -3px;
}
 /*#state{
  width: 110px;height: 34px;
  }*/
  /*.button_div{
    float: right;
  }*/
  .filter-btn{
    float: right;
  }
  .export-btn{
    float: right;
  }
  .main_body{
    margin-top: 15px;
  }
  #order_listing th{
    background-color: #353eb3; color: white; padding: 10px;
  }
  .tbl{
    width:100%;
  }
  .tbl td{width:100%; padding: 10px;}
  .tbl.checkbox{
    position: relative;top: 3px;
  }
  .recordbtn,.assign-btn{
    background-color: #2d4866;color: white!important;margin-left: 10px;border:0px;padding: 5px 8px;
  }
  .delete-btn{
    margin-left: 10px
  }
  /*#export .modal-content{
    margin-left: -185px;width: 180%;
  }
  #export .modal-header{
    background-color: #2d4866;color: white;
  }
  .export-div input{
    margin-right: 5px;
  }*/
  .pdf{
    margin-top: 4px;margin-left: 20px;
  }
  .excel{
    margin-top: 4px;margin-left: 10px;
  }
  .download{
    margin-top: -9px;border: 0px;margin-left: 35px;padding: 5px;background-color: #2d4866;color: white;
  }
  /*#filter .modal-content{
    margin-left: -225px;width: 195%;
  }
  #filter.modal-header{
    background-color: #2d4866;color: white;
  }*/
  .reset-btn{
    border: 0px;padding: 6px 9px;background-color: #2d4866;color: white;
  }
  .submit-btn{
    border: 0px;margin-left: 5px;padding: 6px 9px;background-color: #2d4866;color: white;
  }
  .record-btn{
    background-color: #2d4866;color: white;border: 0px;padding: 9px 17px;border-radius: 46px;margin-top: 15px;margin-left: 193px;
  }
  .assign{
    background-color: #2d4866;color: white;border: 0px;padding: 9px 17px;border-radius: 46px;
  }
  .closebtn{
    border: 0px;padding: 5px 8px; 
  }
  #header_buttons{
    float: right;
  }
  #header_dropdown{
    float: right;
  }

  .checkboxtimesheet{
    text-align: center;
    padding: 12px;
  }
  .viewdetailscase{
   color: #01a9ac !important;
    padding-right: 6px;
    
  }
  .id_case{
    padding: 12px;
  }
  .exampleFormControlTextarea4{
    float: left !important;
  }
  .searchcase{
   padding-left: 18px;
 }
 .searchanylabel{
  display: flex;
  align-items: center;  padding-right: 10px;
}
.casereportdata{
 padding-top: 6px;
}
/*.searchanyinput{
  margin-right: 15px;
  }*/
/*#country-list{

    margin-top: 40px !important;

    width: 315px !important;
    position: absolute;
    left: 119px !important;
    overflow: auto;
    max-height: 315px;
    z-index: 999; 
    }*/
    .searchanyfinal{
      color: white;  margin-top: 3px;
    }
    .searchanyicon{
      position: relative;
      top: 13px;  
      right: 27px;
      z-index: 999;

    }
    #country-list_case{
      float: left;
      list-style: none;
      margin-top: 4px;
      padding: 0;
      width: 270px;
      position: absolute;
      max-height: 275px;
      overflow: auto;
      z-index: 9999;
      top: 36px;
    }
    #country-list_case a {
      text-decoration: none;
    }

    #country-list_case li {
      padding: 10px;
      background: #2d4866;
      color: white;
      border-bottom: #bbb9b9 1px solid;
    }
    .select2-container--default .select2-selection--single{
      margin-bottom: 0.75rem;
      border: 1px solid #cdd4e0;
    }
   /* .form-check-label{
      display: inline!important;
    }*/

/*    .pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7
}

.legalReportbtn {
  padding: 7px;
  background-color: #ef8832!important;
  border-color: #ee8227!important;
  font-size: 12px;
  color: #fff
}

.legalReportbtn:hover {
  text-decoration: none;
  color: #fff
}

#example_info,
.order-listing_paginate {
  display: none!important
}

div.dataTables_wrapper div.dataTables_paginate {
  display: none!important
}

.pagination {
  float: right!important
}*/

/*.srno {
  width: 6%;
  text-align: center
}*/

.subhead_legal {
  width: 23%;
  font-weight: 700
}
.modal_checkbox{
  margin-right: 0px!important;
}
.srno{
  float: left;
  font-size: 12px;
    padding-right: 9px;
}
.nav-tabs .nav-item{
  width: 30%;
    text-align: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: white;
    background-color: #404E67;
    border-bottom: 4px solid #2d4866;
    font-weight: bold;
}
.nav-tabs .nav-link{
  background: #f6f8fa;
    /* background: #2d4866; */
    /* color: white; */
    color: black;
}
.nav-tabs{
  border-bottom: 2px solid #404E67;
}