.totalcount{
  width: 100%;
  float: left;
}
.form-check {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  /*width: auto;
  float: left;*/
}
#show_data{
  width: 100%;
  float: left;
}
.form-check .form-check-label {
  min-height: 18px;
  display: block  margin-left: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.title_h3{
  color: #352d2d;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
.pagination,.main_hr,.main_div{
  float: left;
  width: 100%;
}
.main_div{
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);  
  margin-bottom: 2%;
  border-radius: 12px;
  padding: 9px 7px;
}
.main_div:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.caseresultboxlayout{
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    margin-bottom: 2%;
    border-radius: 12px;
    padding: 9px 7px;
}
.caseresultboxlayout:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.pagination,.searchForm,.onlineShortnote{
    width: 100%;
    float: left;
}