﻿.subcount {
	font-size: 17px;
	font-weight: bold;
}

.recent_activity .hearing_ul {
	min-height: 207px;
	max-height: 207px;
	overflow: auto;
	padding: 11px 18px;
}
.upcomingHearing {
	min-height: 300px;
	max-height: 300px;
	background: white;
}
.upcomingHearing marquee{
	min-height: 215px;
	max-height: 215px;
	padding: 11px 18px;
}
.dashboard-blocks-div{
	min-height: 130px;
	max-height: 130px;
}
.view-all-activities{
	text-align: right;
	margin: 0px;
	font-weight: bold;
}
.hearing_ul{
	min-height: 220px;
	max-height: 220px;
	overflow: auto;
	padding: 11px 18px;
}
.subhead {
	font-size: 15px;
	font-weight: bold;
}
.teamback {
	background: #ec713c;
	background: -webkit-linear-gradient(45deg, #ec713c, #feb798)!important;
	background: linear-gradient(45deg, #ec713c, #feb798)!important;
}
.teambprogress{
	background: linear-gradient(45deg, #e04c0c, #e04c0c8a)!important;
	background: linear-gradient(45deg, #e04c0c, #e04c0c8a)!important;
}
.dashboardicon{
	font-size: 30px;
}
.uploadcasesback{
	background: linear-gradient(45deg, #8532e0, #2575fc42)!important;
	background: -webkit-linear-gradient(45deg, #8532e0, #2575fc42)!important;
	background: #9c5ae4;
}

.uploadcasesprogress{
	background: linear-gradient(45deg, #5f12b33b, #2575fc4a)!important;
	background: -webkit-linear-gradient(45deg, #5f12b33b, #2575fc4a)!important;
	background: #9c5ae4;
}
.advocateback{
	background: linear-gradient(45deg, #ef7b5c, #f7b733)!important;
	background: -webkit-linear-gradient(45deg, #ef7b5c, #f7b733)!important;
	min-height: 122px;
}
.legalaudit{
	min-height: 122px;
}

.advocateprogress{
	background: linear-gradient(45deg, #e4542d, #e4542d)!important;
	background: -webkit-linear-gradient(45deg, #e4542d, #e4542d)!important;
}
.documentback{
	background: linear-gradient(45deg, #0ec5b0, #96c93d)!important;
	background: -webkit-linear-gradient(45deg, #0ec5b0, #96c93d)!important;
	min-height: 122px;
}
.documentprogress{
	background: linear-gradient(45deg, #12986a, #12986a)!important;
	background: -webkit-linear-gradient(45deg, #12986a, #12986a)!important;

}
.remindback{
	background: linear-gradient(45deg, #bc4e9c, #f80759)!important;
	background: -webkit-linear-gradient(45deg, #bc4e9c, #f80759)!important;
	min-height: 122px;
}
.remindprogress{
	background: linear-gradient(45deg, #d6215f, #bf1b53)!important;
	background: -webkit-linear-gradient(45deg, #d6215f, #bf1b53)!important;
}
.dailycasesback{
	background: linear-gradient(45deg, 	#836a61, #836a617a)!important;
	background: -webkit-linear-gradient(45deg, #836a61, #836a617a)!important;
	min-height: 122px;
}
.invoicesback{
	background: linear-gradient(45deg, 	#836a61, #836a617a)!important;
background: -webkit-linear-gradient(45deg, #01a9ac, #8ea8a9)!important;
	min-height: 122px;
}
.judicalmatterback{
	background: linear-gradient(45deg, #128096, #12809699)!important;
	background: -webkit-linear-gradient(45deg, #128096, #12809699)!important;
	min-height: 122px;
}
.judicalmatterprogress{

	background: linear-gradient(45deg, #12809699, #12809699)!important;
	background: -webkit-linear-gradient(45deg, #12809699, #12809699)!important;
}
.legalprogress{
	background: linear-gradient(to right, #569d9e, #569d9e);
}
.recent_class{
	background: #f6f8fa;
    margin-bottom: 8px;
    border-left: 2px solid #404E67;
    padding: 5px;
}
.recent_class span{
	color: #01a9ac;
}

