.login-block {
    padding: 30px 0;
    margin: 0 auto;
    background: url(../images/lawbook.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}