.mobileview{
	display: none;
}
.mobilelogout{
	display: none !important;
}
.mobilename{
		display: none !important;
}
@media only screen and (max-width: 1024px) {
 .loginheader{
 	padding: 0px !important;
 }
 .ribbon-edge-topleft2{
    left: 98px;
 }
 .mobileprofile{
	display: none;
}
.desktopprofile{
	display: block;
}


}

@media only screen and (max-width: 800px){
.ribbon-edge-topleft2 {
    left: 69px;
}
.mobileview{
	display: block;
}
.logoimg{
	width: 39%;
}
.headerrightdetails{
	display: none !important;
}
.mobilelogout{
	display: block !important;
}
.userimage_mobile{
	margin-right: 10px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 26px !important;
    margin-top: 0px !important;
}.logoutmenulist a{
color: black !important;
    padding: 8px 5px !important;
    font-weight: bold;

}
.nopadding{
	padding: 0px;
}

 .mobilename{
	display: inline-block !important;
}
.pcoded[theme-layout="vertical"] .pcoded-navbar[pcoded-navbar-position="fixed"] {
    position: fixed;
}
body .pcoded[pcoded-device-type="phone"][vertical-nav-type="expanded"] .pcoded-navbar, body .pcoded[pcoded-device-type="tablet"][vertical-nav-type="expanded"] .pcoded-navbar {
    position: absolute !important;
}
.pcoded[theme-layout="vertical"] .pcoded-navbar {
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
}
.icon-chevron-down:before{
	display: none;
}
}
@media only screen and (max-width: 450px){
.app-hero-content{
	    padding: 31px 0 0 !important;

}
.mobileprofile{
	display: block !important;
}
.desktopprofile{
		display: none !important;
}

.lawlabel{
	text-align: left !important;
}
 .mobilename{
	/*display: none !important;*/
	font-size: 14px;
}
.logoimg {
    width: 38%;
}
}

@media only screen and (max-width: 350px){
 .mobilename{
	display: none !important;
	/*font-size: 11px;*/
}
}