@charset "UTF-8";

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px 25px;
}

.citation {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}

.citation.negative {
	color: red;
}

.court {
	font-size: 15px;
	color: black;
}

.coram {
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
	font-weight: 400;
	margin-bottom: 10px;
}

.coram .judge.decision {
	border-bottom: 1px dotted #777;
}

.judge {
	color: black;
}

.dod {
	font-weight: 400;
	color: #844242;
}

.nominal {
	margin: 10px 0;
	text-align: justify;
}

.app, .res {
	font-weight: 400;
}

.headnote {
	text-align: justify;
}

.snote {
	font-weight: 400;
	margin: 10px 0;
}

.para-ref {
	/* text-align: right; */
	margin-right: 10px;
	float: right;
	display: inline-block;
	font-weight: 400;
}

.advocates {
	color: #4298B5;
	text-align: justify;
}

.jpara p {
	margin: 10px 0;
	text-align: justify;
}

.result {
	font-weight: 400;
	text-align: right;
	color: #008BBA;
	font-size: 18px;
}

.case-info {
	text-align: center;
	font-size: 16px;
}
