.card{
	padding: 15px 11px 15px 11px;
	margin-bottom: 10px;
}
.right-side-div{
	text-align: right;
	display: block;
}
.right-side-div .set_priority{
	float: right;
}
#closed-status{
	color: red;
	font-weight: bold;
}
.sidebar-case-section table td {
	padding: 10px 10px;
	width: 50%;
}
.sidebar-case-section table td.c-type {
	color: #aaa;
}
.user_name{
	/*width: 70%;*/
	width: 66%;
}
.icons-view-case{
	width: 10%;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	/*color: #1c273c;
	background-color: #ffffff;
	border-bottom: 4px solid #2d4866;*/
      color: white;
    background-color: #404E67;
    border-bottom: 4px solid #2d4866;
    font-weight: bold;

}
.nav-tabs .nav-link{
	padding: 0.4rem !important;
}
.page-cases-view .sidebar-case-section table tr td {
	width: 50%;
	max-width: 145px;
}
.nav-tabs .nav-item {
	width: 25%;
}
.sidebar-case-section table td.c-desc {
	width: 55%;
	border-right: 0;
	overflow-wrap: break-word;
}
.hearing_date_table,.hearing_date_table td , .hearing_date_table th 
{
	border:0px!important;
}
.section-3 .left {
	float: left;
}
.view_case_wrapper .section-3 .right {
	float: right;
	padding: 0;
}
td img{
	/*width: 100%;*/
	width: 61%;
}
.table td, .table th {
	padding: .5rem;
}
.view_case_wrapper .section-3 .left .left_1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.section-3 .left img {
	vertical-align: middle;
	width: 34px;
	height: 34px;
	border-radius: 3px;
}
.activity-by {
	text-transform: lowercase;
	font-size: 11px;
	padding: 0 0px 0 11px;
}
.section-3 .left .left_1 span.activity-name {
	font-size: 14px;
}
.section-3 .right {
	float: right;
	padding: 0;
} 
.section-3 .right span {
	vertical-align: bottom;
}
.activity-info span.edit-delete-icons .edit-icon {
	background-position: -79px -11px;
	/* background-position: -214px -64px; */
	background-size: 400px auto;
	height: 17px;
	margin-right: 7px;
	padding: 0;
	width: 17px;
}
.activity-info span.edit-delete-icons .delete_icon {
	background-position: -56px -11px;
	background-size: 400px auto;
	height: 18px;
	padding: 0;
	width: 14px;
}
.edit-delete-icons {
	margin-left: 8px;
}
.section-3 .right span {
	vertical-align: bottom;
}
.section-3 .right span {
	vertical-align: bottom;
}
.section-3 span.sprite {
	cursor: auto;
}
.sprite {
	width: 25px;
}
.activity-chunks {
	margin: 0px 0px 0px 50px;
}
.activity-chunks p ,.activity-chunks_export p{
	border-left-width: 3px;
	border-color: #e6e6e6;
	border-left-style: solid;
	padding: 0 8px 0 8px;
	font-size: 13px;
}
.activity-chunks_export{
	width: 100%;
	float: left;
	padding-left: 4%;
}
.time-date-export{
	width: 15%;
	float: right;
}
.activity-chunks p b {
	font-size: 13px;
}

/*td + td, th + th {
  border-left: 1px solid #ccc;
  }*/
  .sidebar-case-section table.case-sidebar-section.court-details-section-1 {
  	table-layout: fixed;
  }
  .sidebar-case-section table {
  	background: #fff;
  	border-bottom: 1px solid #ccc;
  	border-radius: 4px;
  	font-size: 14px;
  	line-height: 20px;
  	margin: 2px 0 20px;
  	width: 100%;
  	border-style: hidden;
  	box-shadow: 0 0 0 1px #ccc;
  }
  .file_no span {
  	font-style: italic;
  	font-size: 10px;
  	clear: both;
  	float: left;
  	line-height: 13px;
  }
  .case-sidebar-section tr:first-child {
  	border: 0 none;
  }
  .sidebar-case-section thead th {
  	background: #ccc;
  	padding: 7px 10px;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
  }
  .case-sidebar-section .action-add-update-link a {
  	background: #5b7cb2;
  	border-radius: 5px;
  	color: #fff;
  	display: block;
  	float: right;
  	font-size: 12px;
  	font-weight: normal;
  	padding: 3px 7px;
  	width: 70px;
  	text-align: center;
  }
  .case-sidebar-section .case-hearings-export-link {
  	float: right;
  }
  .case-sidebar-section .case-hearings-export-link a{
  	color: #5b7cb2;
  }
  .title_h3{
  	padding-top: 0px;
  	color: #352d2d;
  	font-size: 28px;
  	text-align: center;
  	font-weight: 600;
  }
/*.case_title .row{
  margin-left: 1px;
  background: #ffffdd;
  }*/
  .court_title_heading{
   /* display: flex;
   align-items: center;*/
   padding-top: 1%!important;
   text-align: center;
}
.case_title_div{
	margin-left: 1px;
	background: #ffffdd;
}
.fetch_case_title{
   /* font-size: 22px;
   font-weight: 600;*/
   line-height: 1.1;
   padding: 2%;
}
.fetch_case_desc{
	font-size: 14px;
	font-weight: 100;
	line-height: 1.3;
	color: #313131;
	padding: 2% 1%;
}
.chat-img{
	padding: 5px 0px 0px 5px;
}
.replyheading{
	color: green; font-size: 23px;
	text-align: center;
	font-weight: bold;
	padding-top: 33px;
}
.replybody{
	padding-bottom: 41px;
}
.query{
	font-size: 15px;
	font-weight: bold;
	color: teal;
	float: left;
	width: auto;
 /* padding-left: 0;
  padding-right: 0px !important;
  padding-top: 5px !important;*/
}
.chat_div .col-sm-12 span{
	font-size: 15px;
	color: #4e4949;
	/* padding: 0;*/
	/*float: left;*/
}
.chat_div{
	background: #ecf1ff94 none repeat scroll 0% 0%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.chat li{
	list-style-type: none;
}
.chat{
	padding: 0px
	font-size:14px;
}
.view_reply{
	/*margin-bottom: 4%;*/
	font-size: 14px;
	color: green; 
	/*padding-left: 19px;*/
}
/*   .bookimg{
    padding-left: 9px;

    }*/
    .view_reply:hover{
    	color: green; 
    }
    .reply_show{
    	float: left;
    	/*border: 1px solid #ced4da;*/
    	padding: 0px 1%;
    	border-radius: .25rem;
    	color: #495057;
    	font-size: 14px;
    	/*padding-bottom: 4%;*/
    	display: none;
    	/*border: 1px solid #ced4da;*/
    	/*margin-bottom: 4%;*/
    	padding-left: 0;
    	margin-top: 1%;
    	text-align: justify;
    }
    #reply{
    	border: 1px solid #ced4da;
    	
    }
    .view::before{
    	content:'View Answer';
    }
    .hide::before{
    	content: "Hide Answer";
    }
    #pagen{
    	width: 20%;
    	margin: 0 auto;
    }
    .count_of_clr{
    /*  position: absolute;
    top: 176px;
    right: 534px;*/
    display: block;
    background: #2d4866;
    line-height: 13px;
    font-weight: 300;
    /*padding: 3px 5px;*/
    padding: 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    width: auto;
    float: right;
    text-align: center;
}
.view-details{
	float: right;
}
.set_priority{
	display: flex;
	align-items: center;
}
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 25px;
}
.toggle-switch input {
	visibility: hidden;
}
.toggle-switch .toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f10075;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
	border: 1px solid #e3e7ed;
}
.toggle-switch .toggle-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: #ffffff;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
.toggle-switch.toggle-switch-danger input:checked + .toggle-slider {
	background-color: #007db7;
}

.case_title_div{
	display: flex;
	align-items: center;
}
.speech-bubble {
 /* position: relative;
  font-size: 14px;
      line-height: 22px;
      padding: 10px 20px;
      margin: 5px 0px 15px 0px;
      background: #ffffff;
      border: 1px solid #BEBEBE;
      border-radius: 10px;*/

      position: relative;
      font-size: 14px;
      line-height: 22px;
      padding: 10px 20px;
      margin: 5px 0px 15px 0px;
      background: #ffffff;
      border: 1px solid #BEBEBE;
      border-radius: 10px;
      white-space: normal;
  }
  .speech-bubble:before {
   /* content: '';
    position: absolute;
    top: 0;
    left: 6%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom-color: lightgray;
    border-top: 0;
    margin-top: -14px;*/
    border-color: rgba(245, 41, 27, 0) !important;
    border-bottom-color: #BEBEBE !important;
    border-width: 13px !important;
    margin-left: -19px!important;
}
.speech-bubble:after {
	border-color: rgba(255, 255, 255, 0) !important;
	border-bottom-color: #ffffff!important;
	border-width: 12px !important;
	margin-left: -18px !important;
}
   /* content: '';
    position: absolute;
    top: 0;
    left: 6%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom-color: lightgray;
    border-top: 0;
    margin-top: -14px;*/
    .speech-bubble:after,.speech-bubble:before{
    	bottom: 100%;
    	left: 7%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	top:5px;
    }
    .speech-bubble img{
    	height: 315px;
    	width: 100%;
    }

    .dropzone {
    	border: 1px dashed #0087F7;
    	border-radius: 5px;
    	background: white;
    }

    .dropzone.dz-clickable .dz-message span{
    	font-size: 22px;
    }
    .responsebody{
    	border:1px solid #d2cdcd;
    }
 /* .count_of_clr{
    display: none;
    }*/



    /*...........................addded for download.......*/
    .files input {
    	outline: 2px dashed #92b0b3;
    	outline-offset: -10px;
    	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    	transition: outline-offset .15s ease-in-out, background-color .15s linear;
    	padding: 120px 0px 85px 35%;
    	text-align: center !important;
    	margin: 0;
    	width: 100% !important;
    }
    .files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    	transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
    }
    .files{
    	position:relative;
    	width: 100%;
    	float: left;
    }
/*.newsubmit{
  float: right;
  }*/
  .files:after {  pointer-events: none;
  	position: absolute;
  	top: 60px;
  	left: 0;
  	width: 50px;
  	right: 0;
  	height: 56px;
  	content: "";
  	background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  	display: block;
  	margin: 0 auto;
  	background-size: 100%;
  	background-repeat: no-repeat;
  }
  .color input{ background-color:#f1f1f1;}
  .files:before {
  	position: absolute;
  	bottom: 0px;
  	left: 0;  pointer-events: none;
  	width: 100%;
  	right: 0;
  	height: 50px;
  	content: " or drag it here. ";
  	display: block;
  	margin: 0 auto;
  	color: #2ea591;
  	font-weight: 600;
  	text-transform: capitalize;
  	text-align: center;
  }
  .uploadbtn{
  	margin-top: 1%;
  }
  .title_class{
  	width: 36%;
  }
  .case_class{
  	width: 10%;
  }
  .nav-tabs .nav-link {
  	background: #f6f8fa;
  	/*background: #2d4866;*/
  	/*color: white;*/
  	color: black;
  	border-radius: 0;
  	border: 1px solid #e3e7ed;
  	padding: 0.4rem !important;
  }
  .tab-seeklegal{
  	width: auto;
  }
  .case-title .fa-file-pdf-o{
  	color: red;
  }
  .editdelete{
  	font-size: 20px;
  	color: teal;
  }
  .editdeleteText{
  	font-weight: bold;
  	color: teal;
  }
  /*.viewcasebuttons{
    font-size: 15px;
    font-weight: bold;
    }*/
    .seeklegal_submit{
    	background-color: #2d4866;
    	border-color: #2d4866;
    	color: white;
    }
    .viewDoc{
      color: #01a9ac;
    font-weight: bold;
    cursor: pointer;
    }