/*#main{
	margin-top: 6%;
}*/
.justify-content-md-center .col-sm-5{
	background: white;
	padding: 1%;
}
.ribbon-edge-bottomleft {
    left: -22px;
    border-color: transparent #e17e02 transparent transparent;
    top: 31px;
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0;
    width: 0;
    border-width: 0 10px 15px 0;
}
.ribbon-edge-topleft2 {
    top: -12px;
    border-width: 22px 20px 21px 37px;
    transform: rotate(-180deg);
    border-radius: 1px;
    left: 122px;
    border-color: transparent #ffa300 transparent transparent;
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0;
    width: 0;
}
.ribbon-front {
   background-color: #ffa300;
    height: 43px;
    width: 32%;
    float: left;
    position: relative;
    left: -23px;
    z-index: 2;
    top: -12px;
}
h2 {
    color: #fff;
    font-weight: bold;
    line-height: 37px;
    text-align: center;
}
form{
	position: relative;
}
.footer{
	background: white;
	padding-top: 25px;
    padding-bottom: 0px;
}
.msg{
    width: 100%;
    float: left;
    text-align: left;
    color: #d01515;
    font-weight: 700;
}