  .ribbon-front{
    left: 5px;
  }
  .ribbon-edge-bottomleft{
    left: -10px;
  }
  option{
    font-size: 14px;
  }
  .form-control{
   margin-bottom: 0px; 
   margin-top: 0px; 
   font-size: 0.8rem;
   color: black;
 }
 .ribbon-edge-topleft2{
  left: 171px;
}
.error_msg{
  width: 100%;
  float: left;
  color: red;
  font-weight: bold;
}
input{
  margin-bottom: 0px !important;
}
select{
  margin-bottom: 0px !important;
}
textarea{
  margin-bottom: 0px !important;
}
h2 {
    color: #fff !important;
    font-weight: bold !important;
    line-height: 37px !important;
    text-align: center !important;
}

@media only screen and (max-width: 1024px) {
 .loginheader{
  padding: 0px !important;
 }
 .ribbon-edge-topleft2 {
    left: 142px;
}
 }
 @media only screen and (max-width: 450px){
.ribbon-front {
  top: 4px;
  margin-bottom: 36px;

}
.ribbon-edge-topleft2 {
    left: 122px;
    top: 4px;
}
.navbar .navbar-brand img {
    width: 33% !important;
}
}