/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentyfifteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentynineteen-child
*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing: border-box;
}

body {
    background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #818384;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 15px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 15px;
}

ul,
ol {
    margin: 0 0 15px 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 15px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 15px 15px;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

figure {
    margin: 0;
}

table {
    margin: 0 0 15px;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    border: 1px solid #CCC;
    padding: 5px 10px;
}

td {
    border: 1px solid #CCC;
    padding: 5px 10px;
}


/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: middle;
}

.navigation .nav-links a,
.bttn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: none;
    color: #3d3d3d;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    font-size: 14px;
    line-height: 13px;
    height: 33px;
    border: none;
    padding: 10px 15px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-shadow: none;
    border: 1px solid #27b6d4;
}

.navigation .nav-links a:hover,
.bttn:hover,
button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #dd1f26;
    color: #ffffff !important;
    border-color: #dd1f26;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    color: #666;
    border: 1px solid #ccc;
    height: 36px;
    width: 100%;
    -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    border: 1px solid #AAA;
}

.searchform input[type="text"]:focus {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px 6px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    color: #666;
    border: 1px solid #ccc;
    height: 160px;
    max-width: 100%;
    width: 100%;
}

.widget_search #s {
    margin-right: -49px;
    width: 95%;
}

.widget_search #searchsubmit {
    height: 36px;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/

a {
    color: #27b6d4;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

a:visited {}

a:hover,
a:focus,
a:active {
    color: #dd1f26;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}


/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}


/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/

.es-clearfix:before,
.es-clearfix:after,
.row:before,
.row:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.mt-container:after,
.mt-container:before {
    content: '';
    display: table;
}

.es-clearfix:after,
.row:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.mt-container:after {
    clear: both;
}

.clear {
    clear: both;
}


/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/

.widget-area .widget {
    margin: 0 0 25px;
    padding-bottom: 10px;
}


/* Make sure select elements fit in widgets */

.widget-area .widget select {
    max-width: 100%;
}


/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

h1.entry-title {
    color: #353535;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: capitalize;
}

h1.entry-title a {
    color: #3d3d3d;
}

.hentry {
    margin: 0 0 15px;
}

.single .byline,
.group-blog .byline,
.posted-on,
.blog-author,
.blog-cat {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.cat-links {
    margin-right: 10px;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 15px;
}

.edit-link .post-edit-link {
    background: #27b6d4;
    padding: 4px 10px;
    color: #FFF !important;
    line-height: 1;
    border-radius: 3px;
    font-size: 13px;
}

.edit-link .post-edit-link:before {
    content: "\f044";
    font-family: FontAwesome;
    margin-right: 5px;
}

#blog-post article.hentry,
.search article.hentry,
.archive article.hentry,
.tag article.hentry,
.category article.hentry,
.blog article.hentry {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
}

.blog article.hentry:first-child {
    margin-top: 30px;
}

article.hentry .edit-link {
    display: block;
    margin-top: 20px;
}

article.hentry h1.entry-title {
    margin-bottom: 5px;
    line-height: 1.2;
}

article.hentry .entry-footer>span {
    color: #999;
    font-size: 13px;
    margin-right: 15px;
}

.page-header .page-title {
    color: #333333;
    padding-bottom: 15px;
}

.posted-on:before {
    content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.cat-links:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.comments-link:before {
    content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.byline:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.tags-links:before {
    content: "\f02c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 3px;
}

.entry-footer a {
    color: #999;
}

.entry-footer a:hover {
    color: #27b6d4
}

.nav-links .meta-nav {
    display: none;
}

.nav-links .nav-previous,
.nav-links .nav-next {
    width: 50%;
    float: left;
}

.nav-links .nav-next {
    text-align: right;
}

.nav-links .nav-previous a:before {
    content: "\f0d9";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.nav-links .nav-next a:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
}

.entry-thumbnail {
    width: 38%;
    float: left;
}

.entry-exrecpt {
    width: 60%;
    float: right;
}

.short-content {
    margin-bottom: 10px;
}

.short-content+.bttn {
    float: right;
}

.entry-footer {
    margin-top: 10px;
}

.full-width {
    float: none;
    width: 100%;
}


/*--------------------------------------------------------------
Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
    margin-left: -2%;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.site-main .gallery a img {
    max-width: none;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 47%;
}

.gallery-columns-3 .gallery-item {
    max-width: 31.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
}

.gallery-columns-5 .gallery-item {
    max-width: 18%;
}

.gallery-columns-6 .gallery-item {
    max-width: 14.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 12.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 10.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 9.11%;
}

.gallery-caption {
    display: block;
}


/*--------------------------------------------------------------
Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}


/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

#comments {
    margin-top: 80px;
}

#tab-reviews #comments {
    margin-top: 0;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments h2.comments-title {
    color: #333;
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin: 15px 0;
    padding: 8px 15px;
}

#comments h3 {
    margin: 0 0 10px;
    color: #141414;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}

#commentform label {
    width: 120px;
    display: block;
}

textarea#comment {
    width: 100%;
    height: 150px;
}


/*Comment Lists*/

.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin: 0 0 0 15px;
}

.comment-list .comment-body {
    padding: 15px;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-top: 2px solid #27b6d4;
}

.comment-author img {
    vertical-align: text-top;
    margin-right: 15px;
}

.comment-author {
    float: none;
}

.comment-metadata {
    font-size: 12px;
    margin-top: -12px;
    padding-left: 50px;
}

.comment-content {
    margin-top: 10px;
    padding-left: 50px;
}

.comment-author .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

.comment-author .fn .url {
    color: #333;
    padding: 0 5px;
}

.comment-author .fn .url:hover {
    color: #27b6d4;
}

.comment-author .says {
    display: none;
}

.commentmetadata {
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.commentmetadata a {
    color: #666;
}

.commentmetadata .comment-edit-link {
    color: #27b6d4;
}

.commentmetadata+.clear {
    margin-bottom: 20px;
}

.reply .comment-reply-link {
    background: none repeat scroll 0 0 #27b6d4;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1;
    padding: 2px 10px;
}

#respond {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
    color: #141414;
}

#commentform .form-submit {
    margin-bottom: 0;
}

#cancel-comment-reply-link {
    font-style: italic;
    color: #27b6d4;
}

#cancel-comment-reply-link:before {
    font-family: FontAwesome;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: #27b6d4;
}

.logged-in-as a {
    color: #27b6d4;
}


/*--------------------------------------------------------------
Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .paging-navigation,



/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

.infinity-end.neverending .site-footer {
    display: block;
}

#infinite-footer {
    display: none;
}


/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: 10px 0;
}

.site-main .gallery {
    margin-bottom: 1.5em;
}

.gallery-caption {}

.site-main .gallery a img {
    border: none;
    height: auto;
    max-width: 90%;
}

.site-main .gallery dd,
.site-main .gallery figcaption {
    margin: 0;
}

.site-main .gallery-columns-4 .gallery-item {}

.site-main .gallery-columns-4 .gallery-item img {}


/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
    max-width: 100%;
}


/*--------------------------------------------------------------
Grid CSS
--------------------------------------------------------------*/

.mt-column-wrapper {
    margin-left: -2%;
    margin-bottom: -2%;
}

.mt-column-1 {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 98%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.mt-column-2 {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 48%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.mt-column-3 {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 31.33%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.mt-column-4 {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 23%;
    margin-left: 2%;
    margin-bottom: 2%;
}

/*--------------------------------------------------------------
Default widget css
--------------------------------------------------------------*/

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_recent_entries li:last-child,
.widget_meta li:last-child,
.widget_recent_comments li:last-child,
.widget_rss li:last-child,
.widget_pages li:last-child,
.widget_nav_menu li:last-child {
    border: none;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li a,
.widget_nav_menu li a {
    color: #333333;
    font-size: 14px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    display: inline-block;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #27B6D4;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li a:before,
.widget_nav_menu li a:before {
    color: #afb4bd;
    content: "\f187";
    font-family: "FontAwesome";
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li a:before {
    content: "\f105";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li a:before {
    content: "\f1ea";
    top: 0;
}

.widget_search .search-field {
    width: 75%;
    float: left;
}

.widget_search .search-submit {
    height: 36px;
    width: 25%;
    background: #27B6D4;
    border-color: #27B6D4;
    color: #ffffff;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu .sub-menu {
    margin: 10px 0 0 10px;
}

.widget_nav_menu li::before {
    top: 0;
}

.widget_search::after {
    clear: both;
    content: "";
    display: table;
}

.widget_search .search-field {
    width: 75%;
    float: left;
}

.widget_search .search-submit {
    height: 36px;
    width: 25%;
    background: #27B6D4;
    border-color: #27B6D4;
    color: #ffffff;
}

/*--------------------------------------------------------------
Sidebar layout css 
--------------------------------------------------------------*/

#primary,
.home.blog #primary {
   float: left;
   width: 70%;
}

#secondary,
.home.blog #secondary,
#sidebar-shop {
   float: right;
   width: 27%;
}

.home.page-template-template-home #primary,
.home.page-template-template-home #secondary,
.error404 #primary {
   float: none;
   width: 100%;
}

.left-sidebar #primary {
   float: right;
}

.left-sidebar #secondary {
   float: left;
}

.no-sidebar #primary,
.home.blog.no-sidebar #primary {
   float: none;
   width: 100%;
   margin: 0 auto;
}

.no-sidebar-center #primary,
.home.blog.no-sidebar-center #primary {
   float: none;
   width: 80%;
   margin: 0 auto;
}

.no-sidebar #secondary,
.no-sidebar-center #secondary {
   display: none;
}

.home.blog #content .mt-container {
   margin: 60px auto;
}

.home.blog #content #primary article:first-child {
   margin-top: 0;
}

/*--------------------------------------------------------------
Woocommerce styles
--------------------------------------------------------------*/

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  font-weight: 400;
}

.woocommerce .price-cart {
  background: #666666;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  padding: 0 0 0 10px;
  position: absolute;
  width: 100%;
}

.woocommerce .price-cart:after {
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #27B6D4;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.woocommerce ul.products li.product:hover .price-cart:after {
  height: 100%;
}

.woocommerce ul.products li.product .price-cart .button {
  background: none;
  float: right;
  margin-top: 0;
  position: relative;
  z-index: 9;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  padding-left: 30px;
}

.woocommerce ul.products li.product .price-cart .button:before {
  content: "\f07a";
  position: absolute;
  left: 10px;
  top: 0;
  font-family: "FontAwesome";
}

.woocommerce ul.products li.product .price-cart .button:hover {
  background: #27B6D4;
}

.woocommerce ul.products li.product .price del {
  display: inline-block;
  margin-right: 10px;
}

.woocommerce ul.products li.product .price-cart .price {
  color: #ffffff;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 0;
  width: 46%;
  position: relative;
  z-index: 9;
}

.woocommerce .price-cart a.added_to_cart {
  display: none;
}

.woocommerce ul.products li.product .price ins {
  font-weight: 400;
}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
  top: 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background: #27B6D4;
    top: 0px;
}

.woocommerce .widget_price_filter .price_slider {
  margin: 15px 0;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #27B6D4;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce .added_to_cart.wc-forward {
  background: #333;
  border-radius: 0;
  color: #ffffff;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border:none;
}

.woocommerce .added_to_cart.wc-forward {
   padding: 8px 20px;
   margin-left: 10px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce .added_to_cart.wc-forward:hover {
  background: #27B6D4;
  color: #ffffff;
}

.woocommerce-product-search .search-field {
    border-radius: 0;
    border-right: medium none;
    height: 40px;
    margin-right: 0px;
    width: 71%;
}

.woocommerce-product-search button {
    height: 40px;
    border: 1px solid transparent;
}

.woocommerce-product-search {
  margin: 15px 0;
}

.woocommerce ul.products li.product .onsale, 
.woocommerce span.onsale {
  background: #27B6D4 none repeat scroll 0 0;
  border-radius: 0;
  bottom: auto;
  display: inline-block;
  left: 0;
  line-height: 25px;
  margin: 0;
  min-height: auto;
  min-width: auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30%;
  color: #ffffff;
}

.woocommerce table.shop_table th,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  font-weight: 600;
}

.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message {
   border: none;
   background: #f7f7f7;
   display: block;
   padding: 15px 20px 15px 50px;
   margin: 20px 0;
   font-size: 15px;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: #27B6D4;
}

.woocommerce .woocommerce-message:before,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce div.product p.price del,
.woocommerce .woocommerce-info:before {
  color: #27B6D4;
}

.woocommerce .price_label {
    position: relative;
    top: 5px;
    color: #DD1F26;
    font-size: 15px;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
  position: relative;
  z-index: 9;
}

.woocommerce .product-categories .children {
  padding-left: 20px;
}

.woocommerce .product-categories li a {
  display: inline-block;
  margin-bottom: 12px;
  padding-left: 15px;
  position: relative;
}

.woocommerce .quantity .qty {
  border: 1px solid #cccccc;
  border-radius: 0;
  padding: 4px 2px;
  width: 60px;
  height: 35px;
}

.woocommerce .product-categories > li > a:before,
.woocommerce .product-categories .children a:before {
  content: "\f101";
  position: absolute;
  left: 0;
  top: 0;
  font-family: "FontAwesome";
}

.woocommerce .product-categories .children a:before {
  content: "\f105";
}

.woocommerce .products .star-rating {
   margin: 5px auto;
}

.woocommerce .star-rating span::before {
   color: #27B6D4;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 150px;
  border-radius: 0;
}

.woocommerce div.product p.price del {
  float: left;
  margin-right: 15px;
}

.woocommerce div.product .woocommerce-product-rating,
.woocommerce div.product p.price {
  margin-bottom: 10px;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover {
  background: #27B6D4;
  color: #ffffff;
}

.woocommerce table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
}

.woocommerce .shop_table tbody tr td:first-child,
.woocommerce .shop_table thead tr th.product-remove,
.woocommerce table.shop_table tfoot td:first-child,
.woocommerce table.shop_table tfoot th:first-child {
  border-left: medium none;
}

.order-total > th,
.order-total > td {
  border-bottom: medium none !important;
}

.woocommerce .shop_table tbody tr td.actions {
  border-bottom: none;
}

.woocommerce table.shop_table {
  border-radius: 0;
  border: 1px solid #eee;
}

.woocommerce form .form-row .select2-container {
  line-height: 35px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  font-size: 16px;
  padding: 10px;
}

.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th {
  border-bottom: none;
}

.widget.woocommerce ul {
  list-style: none;
  margin: 0;
}

.woocommerce ul.products{
   text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
   font-size: 18px;
   text-align: center;
   margin: 15px 0 0;
}

.es-product-title-wrap a:hover .woocommerce-loop-product__title{
    color: #27b6d4;
}

.woocommerce ul.products li.product .button {
   display: inline-block;
}

.woocommerce .woocommerce-loop-product__link:after{
   content: "";
   clear: both;
   display: block;
}

.woocommerce ul.products li.product .price {
   font-size: 14px;
   color: #333;
   display: block;
   margin: 10px 0;
}

.wc_payment_methods.payment_methods.methods {
   margin: 0;
   margin: 20px 0;
}

.woocommerce-cart .product-thumbnail img {
   width: 70px;
}

.woocommerce-cart .coupon {
   float: left;
}

.woocommerce-cart .actions .button {
   float: right;
}

.woocommerce-cart .actions .coupon .button {
   margin-left: 10px;
}

.cart-collaterals h2 {
   font-size: 20px;
   margin-top: 30px;
}

.woocommerce-cart .checkout-button.button.alt.wc-forward {
   float: left;
   padding: 0px 20px;
   height: 40px;
   line-height: 40px;
}

.wc_payment_methods.payment_methods.methods {
   list-style: none;
   background: #f8f8f8;
   padding: 20px;
   font-size: 13px;
}

.woocommerce.single-product div.product .price {
    text-align: left;
    color: #dd1f26;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: #27B6D4;
}

.woocommerce-account .woocommerce {
    border: 1px solid #e1e1e1;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul a {
    display: block;
    padding: 6px 30px;
    color: #666;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul a:hover,
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active a:hover{
    color: #27B6D4;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 20px 10px;
}


.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    padding: 0 15px;
}

.woocommerce-error {
    color: #fff;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    padding: 10px 20px 10px 50px;
    width: 100%;
}

.woocommerce-error::before {
    color: #fff;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    height: 38px;
}

.select2-container .select2-selection--single {
    height: 38px;
    border-radius: 0;
    border-color: #ccc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    color: #fff;
    background: #27B6D4;
}

.woocommerce table.wishlist_table {
    font-size: 14px;
}

.dropdown_product_cat {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ccc;
}

.related.products {
    padding: 0 10px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    padding: 0 20px;
}
/*--------------------------------------------------------------
COMMON CSS
--------------------------------------------------------------*/

body {
    font-weight: 400;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}

.boxed-layout #page {
    background-color: #ffffff;
    box-shadow: 0 0 10px #c7c7c7;
    margin: 0 auto;
    position: relative;
    width: 1240px;
}

body.boxed-layout {
    background: #f6f6f6 none repeat scroll 0 0;
}

#page {
    background: #fff none repeat scroll 0 0;
}

.mt-container {
    width: 1200px;
    margin: 0 auto;
}

.hide {
    display: none;
}

/*--------------------------------------------------------------
Header CSS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Top Header CSS
--------------------------------------------------------------*/
.home.page-template-template-estore-home #masthead {
    margin-bottom: 15px;
}

.es-top-header-wrap {
    border-bottom: 1px solid #eaeaea;
    padding: 12px 0;
}

.es-top-left-section-wrapper {
    font-size: 12px;
    float: left;
}

.es-top-right-section-wrapper {
    float: right;
}

.es-social-icons-wrapper .social-link {
    margin-left: 12px;
}

.es-top-header-wrap .item-icon-info-wrap {
    margin-right: 20px;
    display: inline-block;
}

.es-top-header-wrap .item-icon {
    color: #27B6D4;
    margin-right: 5px;
}

.es-header-logo-wrapper {
    padding: 20px 0;
}

.site-branding {
    float: left;
}

.es-header-area-cart-wrapper {
    float: right;
}

.es-header-area-cart-wrapper .easy_store_advance_product_search {
    float: left;
    margin-right: 30px;
}

.easy_store_advance_product_search .woocommerce-product-search {
    border: 1px solid #e1e1e1;
    height: 42px;
    position: relative;
    margin: 13px 0;
}

.easy_store_advance_product_search .es-select-products {
    font-size: 15px;
    height: 40px;
    border: none;
    float: left;
    padding: 0 20px;
    width: 200px;
    font-weight: 400;
    color: #333;
}

.easy_store_advance_product_search .search-field {
    float: left;
    width: auto;
    border: none !important;
    padding: 0 45px 0 20px;
    height: 40px;
    width: 320px;
}

.easy_store_advance_product_search .woocommerce-product-search .searchsubmit {
    background: none;
    border: none;
    color: #666 !important;
    position: absolute;
    right: 15px;
    top: 11px;
    padding: 0;
    border-left: 1px solid #e1e1e1;
    height: 20px;
    padding-left: 15px;
}

.easy_store_advance_product_search .woocommerce-product-search .searchsubmit:hover{
    color: #DD1F26 !important;
}

.es-header-search-wrap .search-form input {
    width: 340px;
    height: 42px;
    padding: 5px 50px 5px 15px;
}

.es-header-search-cart-wrapper {
    float: right;
}

#masthead .site-header-cart {
    list-style: none;
    margin: 0;
    padding: 0;
}

#masthead .cart-title-wrap {
    float: left;
    line-height: 20px;
}

#masthead .cart-title {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

#masthead .site-header-cart .cart-contents {
    background: #000;
    display: block;
    padding: 10px 15px;
    color: #ffffff;
}

#masthead .site-header-cart .cart-contents:hover{
    background: #27B6D4;
}

#masthead .amount, #masthead .count {
    font-size: 12px;
}

#masthead .cart-icon {
    margin-left: 15px;
    line-height: 40px;
    display: inline-block;
    padding-left: 16px;
    border-left: 1px solid #e1e1e1;
    font-size: 20px;
}

#masthead .widget_shopping_cart {
    display: none;
}
/*--------------------------------------------------------------
## Menu CSS
--------------------------------------------------------------*/
.es-main-menu-wrapper .mt-container {
    background: #27B6D4;
}

.es-home-icon {
    float: left;
}

.es-home-icon a {
    color: #fff !important;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 50px;
    padding: 0 20px;
    position: relative;
}

.home .es-home-icon a,
.es-home-icon a:hover {
    background: #DD1F26 none repeat scroll 0 0;
}

#site-navigation ul {
    list-style: none;
    margin: 0;
}

#site-navigation ul li {
    display: block;
    float: left;
    line-height: 50px;
    position: relative;
}

#site-navigation ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
}

#site-navigation ul li.current-menu-item>a,
#site-navigation ul li:hover>a,
#site-navigation ul li.current_page_ancestor>a {
    background: #DD1F26;
    color: #ffffff !important;
}

#site-navigation ul.sub-menu,
#site-navigation ul.children {
    background: #27B6D4 none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    left: 0;
    min-width: 260px;
    opacity: 0;
    position: absolute;
    top: 120%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    visibility: hidden;
    z-index: 9999;
}

#site-navigation ul li.focus > .sub-menu, 
#site-navigation ul li.focus > .children,
#site-navigation ul li:hover>ul.sub-menu,
#site-navigation ul li:hover>ul.children {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#site-navigation ul.sub-menu li,
#site-navigation ul.children li {
    float: none;
    display: block;
    border-bottom: 1px solid #e1e1e1;
}

#site-navigation ul.sub-menu li:last-child,
#site-navigation ul.children li:last-child {
    border: none;
}

#site-navigation ul.sub-menu ul,
#site-navigation ul.children ul {
    right: -100%;
    left: auto;
    top: -20%;
}

#site-navigation ul.sub-menu li:hover>ul,
#site-navigation ul.children li:hover>ul {
    top: 0;
}

#site-navigation li.menu-item-has-children>a:after,
#site-navigation li.page_item_has_children>a:after,
#site-navigation li.page_item_has_children>a:after{
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
    top: 0;
}

#site-navigation .sub-menu li.menu-item-has-children>a:after,
#site-navigation .children li.page_item_has_children>a:after {
    right: 15px;
    top: 8px;
}

#site-navigation ul.sub-menu li.menu-item-has-children>a:after,
#site-navigation ul.children li.page_item_has_children>a:after {
    content: "\f105";
}

#site-navigation ul#primary-menu li.menu-item-has-children a,
#site-navigation #primary-menu li.page_item_has_children a {
    padding-right: 35px;
}

#site-navigation ul ul li a {
    line-height: 25px;
    margin: 0;
    padding: 10px 20px;
}

.is-sticky .es-main-menu-wrapper {
    background: #27B6D4;
    z-index: 9999;
}

.sub-toggle {
    display: none;
}

.es-wishlist-wrap {
    float: right;
}

.es-wishlist-btn {
    color: #fff;
    padding: 0 20px;
    display: block;
    line-height: 50px;
    background: #DD1F26;
}

.es-wishlist-btn:hover{
    color: #ffffff
}

.es-wishlist-btn i {
    margin: 0 5px 0 0;
    display: inline-block;
    font-size: 18px;
}

.es-wl-counter {
    margin-left: 5px;
}
/*--------------------------------------------------------------
Slider CSS
--------------------------------------------------------------*/

.es-slider-cat-menu {
    float: left;
    width: 27%;
    border: 1px solid #e1e1e1;
    overflow: hidden;
}

.es-slider-cat-menu .product-categories {
    margin: 0;
    list-style: none;
    height: 100%;
}

.es-slider-cat-menu .product-categories li {
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
}

.es-slider-cat-menu .product-categories li:last-child{
    border-bottom: 0;
}

.mCSB_inside > .mCSB_container {
    margin: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #333 !important;
    background-color: #333 !important;
}

.es-slider-section {
    float: right;
    width: 70%;
}

.no-cat-menu .es-slider-section {
    width: 100%;
    float: none;
}

.es-single-slide {
    position: relative;
}

.es-slide-content-wrap {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 48%;
    padding: 0;
    transform: translateY(-50%);
}

.es-slide-title {
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.es-slide-content {
    color: #fff;
    font-size: 14px;
}

.easy_store_slider .es-slide-btn a {
    background: #DD1F26;
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    font-size: 13px;
}

.easy_store_slider .es-slide-btn a:hover {
    background: #27B6D4;
    color: #fff;
}

.es-slider .lSAction > a{
    background: none;
}

.es-slider-section .lSAction {
    position: absolute;
    right: 20px;
    top: 20px;
}

.es-slider-section .lSAction a {
    position: static;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    background: rgba(0,0,0,1);
    margin-left: 5px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: 0;
}

.es-slider-section .lSAction a:hover {
    background: #dd1f26;
    opacity: 1;
    color: #fff;
}

.categories-title {
    background: #333;
    padding: 12px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.categories-title i {
    margin-right: 10px;
}

.es-slider-cat-menu .product-categories a {
    font-size: 14px;
}

/*--------------------------------------------------------------
Promo CSS
--------------------------------------------------------------*/

.es-section-wrapper {
    padding: 20px 0;
}

.section-title-wrapper.no-title {
    display: none;
}

.section-title-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.section-title-wrapper::before, 
.section-title-wrapper::after {
    content: "";
    width: 100%;
    left: 0;
    bottom: 8px;
    height: 1px;
    background: #e1e1e1;
    position: absolute;
}

.section-title-wrapper::before {
    bottom: 11px;
}

.section-title-block {
    float: left;
    background: #fff;
    position: relative;
    padding: 0 20px 0 0;
    z-index: 99;
}

.es-block-title {
    font-size: 18px;
    margin: 0;
}

.promo-items-wrapper .item-icon-wrap {
    float: left;
    width: 15%;
    font-size: 38px;
    line-height: 50px;
    color: #27B6D4;
}

.promo-items-wrapper .item-info-wrap {
    float: right;
    width: 80%;
}

.promo-items-wrapper .item-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.promo-items-wrapper .item-info {
    font-size: 13px;
}

/*--------------------------------------------------------------
Featured Product CSS
--------------------------------------------------------------*/

.easy_store_featured_products .carousel-nav-action {
    position: absolute;
    top: -3px;
    right: 0;
}

.easy_store_featured_products .carousel-nav-action .carousel-controls {
    border: 1px solid #e1e1e1;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    margin-left: 4px;
    font-size: 16px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}

.easy_store_featured_products .carousel-nav-action .carousel-controls:hover{
    border-color: #DD1F26;
    color: #ffffff;
    background: #dd1f26;
}

.es-featured-products-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product,
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    position: relative;
    border: 1px solid #e1e1e1;
    padding-top:10px;
}

.product a.woocommerce-LoopProduct-link {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin: 0 10px;
}

.es-product-title-wrap {
    padding: 0 10px;
}

.product a.woocommerce-LoopProduct-link img{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

li.product:hover a.woocommerce-LoopProduct-link img{
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}

.woocommerce span.onsale, 
.woocommerce ul.products li.product .onsale {
    position: absolute;
    left: 20px;
    top: 20px;
    background: #dd1f26;
    color: #fff;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    min-width: auto;
    min-height: auto;
    border-radius: 0;
    line-height: 24px;
    margin: 0;
    right: auto;
}

.woocommerce-loop-product__title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 8px;
}

.price,
.woocommerce ul.products li.product .price {
    display: block;
    text-align: center;
    color: #dd1f26;
    font-size: 14px;
}

.es-product-buttons-wrap {
    background: #fff;
    margin: 10px 0 0;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.widget li.product:hover .es-product-buttons-wrap,
li.product:hover .es-product-buttons-wrap{
    background: #333;
}

.widget li.product:hover .es-product-buttons-wrap:after,
li.product:hover .es-product-buttons-wrap:after{
    content: "";
    clear:both;
    position: relative;
    display: block;
}

.woocommerce-active .es-product-buttons-wrap a, 
.woocommerce-active ul.products li.product .button {
    display: block;
    width: 50%;
    padding: 8px 10px;
    color: #A6A6A6;
    font-size: 12px;
    background: none;
    border-radius: 0;
    line-height: 1.8;
    font-weight: 400;
    text-transform: capitalize;
    vertical-align: top;
    margin-top: 0;
    height: auto;
    float: left;
}

.woocommerce-active .related .es-product-buttons-wrap a, 
.woocommerce-active .related ul.products li.product .button {
    padding: 10px 8px;
}

.woocommerce-active ul.products li.product .button{
    width: 44%;
}

.woocommerce-active ul.products li.product .add_to_wishlist{
        width: 56%;
}

.widget li.product:hover .es-product-buttons-wrap a,
li.product:hover .es-product-buttons-wrap a,
.woocommerce-active ul.products li.product:hover .button{
    color: #ffffff;
}

.woocommerce-active .es-product-buttons-wrap a:hover,
.woocommerce-active ul.products li.product .button:hover{
    background: #27B6D4;
    color: #ffffff;
}

.es-product-buttons-wrap a.add_to_wishlist:hover{
    background: #DD1F26;
}

.es-product-buttons-wrap a.add_to_cart_button::before, 
.es-product-buttons-wrap a.add_to_wishlist::before {
    content: "\f07a";
    font-family: FontAwesome;
    margin-right: 8px;
    font-size: 14px;
}

.es-product-buttons-wrap a.add_to_wishlist:before{
    content: "\f004";
}

.es-product-buttons-wrap a.add_to_cart_button:hover:before, 
.es-product-buttons-wrap a.add_to_wishlist:hover:before{
    color: #ffffff;
}

/*--------------------------------------------------------------
Category Collection CSS
--------------------------------------------------------------*/

.easy_store_categories_collection .single-cat-wrap{
    position: relative;
    overflow: hidden;
}

.easy_store_categories_collection .single-cat-wrap .img-holder img{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.easy_store_categories_collection .single-cat-wrap:hover .img-holder img{
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}

.easy_store_categories_collection .content-wrap {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    text-align: center;
    background: rgba(255,255,255,0.8);
    padding: 15px;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.easy_store_categories_collection .single-cat-wrap:hover .content-wrap{
    bottom: 40px;
}

.easy_store_categories_collection .es-coll-title {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.easy_store_categories_collection .es-coll-link {
    color: #DD1F26;
    font-size: 16px;
    display: block;
    margin: 5px 0 0;
}

.easy_store_categories_collection .es-coll-link i{
    margin-left: 10px;
}

.es-cat-products-wrapper{
    margin-left: -2%;
    margin-bottom: -2%;
}

.es-cat-products-wrapper .product {
    display: inline-block;
    width: 23%;
    margin-right: -4px;
    margin-left: 2%;
    vertical-align: top;
    margin-bottom: 2%;
}


/*--------------------------------------------------------------
Testimonial CSS
--------------------------------------------------------------*/

.easy_store_testimonials .section-title-wrapper{
    margin-bottom: 30px;
}

.easy_store_testimonials .section-title-wrapper::before, 
.easy_store_testimonials .section-title-wrapper::after {
    width: 40%;
    left: 50%;
    margin-left: -20%;
}

.easy_store_testimonials .section-title-block {
    float: none;
    display: inline-block;
    background: #fafafa;
    padding: 0 20px;
}

.easy_store_testimonials {
    background: #fafafa;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.easy_store_testimonials::before, 
.easy_store_testimonials::after {
    content: "";
    background: #fafafa;
    width: 1000%;
    left: -1000%;
    height: 100%;
    top: 0;
    position: absolute;
}

.boxed-layout .easy_store_testimonials::before, 
.boxed-layout .easy_store_testimonials::after{
    display: none;
}

.boxed-layout .easy_store_testimonials {
    margin: 20px -20px;
}

.easy_store_testimonials::after {
    right: -1000%;
    left: auto;
}

.easy_store_testimonials .es-single-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
}

.easy_store_testimonials .es-single-wrap .image-holder {
    float: left;
    width: 42%;
    position: relative;
}

.easy_store_testimonials .es-single-wrap .image-holder::after {
    background: #27B6D4 none repeat scroll 0 0;
    color: #fff;
    content: "\f10d";
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -14px;
    text-align: center;
    top: 23px;
    width: 30px;
    font-family: FontAwesome;
}

.easy_store_testimonials .es-single-wrap .content-holder {
    float: right;
    width: 58%;
    padding: 15px 15px 15px 30px;
    text-align: left;
    font-size: 13px;
    line-height: 28px;
}

.easy_store_testimonials .es-single-wrap .post-author {
    color: #dd1f26;
}

.easy_store_testimonials .es-single-wrap .content-holder p {
    margin: 0 0 10px;
}

.easy_store_testimonials .lSSlideOuter .lSPager.lSpg {
    margin-top: 30px !important;
}

.easy_store_testimonials .lSSlideOuter .lSPager.lSpg > li a {
    height: 12px;
    width: 12px;
}

.easy_store_testimonials .lSSlideOuter .lSPager.lSpg > li:hover a, 
.easy_store_testimonials .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #27B6D4;
}

/*--------------------------------------------------------------
Call To Action CSS
--------------------------------------------------------------*/

.easy_store_call_to_action {
    margin: 30px -100%;
}

.boxed-layout .easy_store_call_to_action {
    margin: 30px -20px;
}

.easy_store_call_to_action .es-section-wrapper {
    padding: 80px 0;
}

.cta-content-wrapper {
    float: left;
    width: 50%;
}

.cta-content {
    font-weight: 700;
    color: #333;
    font-size: 52px;
    font-weight: 900;
}

.cta-content span {
    display: block;
    line-height: 52px;
    color: #DD1F26;
}

.cta-btn-wrap a {
    display: inline-block;
    background: #27b6d4;
    padding: 8px 30px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.easy_store_call_to_action .cta-btn-wrap a:hover{
    background: #dd1f26;
    color: #fff;
}

/*--------------------------------------------------------------
Blog CSS
--------------------------------------------------------------*/

.main-post-wrap {
    float: left;
    width: 50%;
}

.list-posts-wrap {
    float: right;
    width: 47%;
}

.main-post-wrap .blog-content-wrapper,
.entry-content-block {
    float: right;
    width: 88%;
    background: #f6f6f6;
    padding: 20px 20px;
}

.main-post-wrap .post-date-wrap,
.list-posts-wrap .post-date-wrap,
.entry-content-wrapper .post-date-wrap {
    float: left;
    width: 12%;
    background: #27B6D4;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 20px 0 10px;
}

.main-post-wrap .post-date-wrap .date-mth-yr,
.list-posts-wrap .post-date-wrap .date-mth-yr,
.entry-content-wrapper .post-date-wrap .date-mth-yr{
    display: block;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.main-post-wrap .blog-content-wrapper .news-title,
.list-posts-wrap .blog-content-wrapper .news-title,
.entry-content-wrapper .entry-title {
    font-size: 20px;
    margin: 0;
}

.main-post-wrap .blog-content-wrapper .news-title a,
.list-posts-wrap .blog-content-wrapper .news-title a,
.entry-content-wrapper .entry-title a{
    color: #333;
}

.main-post-wrap .blog-content-wrapper .news-title a:hover,
.list-posts-wrap .blog-content-wrapper .news-title a:hover,
.entry-content-wrapper .entry-title a:hover{
    color: #27B6D4;
}

.main-post-wrap .blog-content-wrapper .post-meta,
.list-posts-wrap .blog-content-wrapper .post-meta,
.entry-content-wrapper .post-meta{
    margin: 8px 0px 15px;
}

.blog-content-wrapper .post-meta span, 
.blog-content-wrapper .post-meta span a,
.entry-content-wrapper .post-meta span,
.entry-content-wrapper .post-meta span a {
    color: #9c9c9c;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-right: 8px;
    text-transform: capitalize;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.blog-content-wrapper .post-meta span:hover, 
.blog-content-wrapper .post-meta span a:hover,
.entry-content-wrapper .post-meta span:hover,
.entry-content-wrapper .post-meta span a:hover{
    color: #27B6D4;
}

.list-posts-wrap .single-post-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.list-posts-wrap .single-post-wrapper:last-child {
    margin-bottom: 0;
}

.list-posts-wrap .post-thumb {
    float: left;
    width: 27%;
}

.list-posts-wrap .post-date-content-wrap {
    float: right;
    width: 69%;
}

.list-posts-wrap .post-date-wrap .date-mth-yr {
    font-size: 14px;
}

.list-posts-wrap .post-date-wrap {
    font-size: 14px;
    padding: 6px 0 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 9%;
}

.list-posts-wrap .blog-content-wrapper .post-meta span, 
.list-posts-wrap .blog-content-wrapper .post-meta span a {
    font-size: 12px;
    margin-right: 5px;
}

.list-posts-wrap .blog-content-wrapper .post-excerpt {
    font-size: 13px;
}

.easy_store_sponsors .single-item-wrap img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/*--------------------------------------------------------------
Social Media Css
--------------------------------------------------------------*/

.easy_store_social_media a{
    background: #27B6D4;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
}

.es-footer-widget .easy_store_social_media a{
    color: #ffffff;
}

.easy_store_social_media .es-social-icons-wrapper .social-link {
    margin: 0 14px 0 0;
    display: inline-block;
    vertical-align: top;
}

.easy_store_social_media a:hover{
    background: #dd1f26;
    color: #fff !important;
}

/*--------------------------------------------------------------
Footer Css
--------------------------------------------------------------*/

#colophon {
    background: #212121;
    margin-top: 80px;
}

#top-footer {
    padding: 60px 0 40px;
}

.bottom-footer {
    padding: 15px 0;
    font-size: 12px;
    background: #161616;
    color: #ccc;
}

.footer_columns_one .es-footer-widget,
.footer_columns_two .es-footer-widget,
.footer_columns_three .es-footer-widget,
.footer_columns_four .es-footer-widget {
    float: left;
    margin-left: 3%;
    width: 97%;
}

.footer_columns_two .es-footer-widget {
    width: 47%;
}

.footer_columns_three .es-footer-widget {
    width: 30.33%;
}

.footer_columns_four .es-footer-widget {
    width: 22%;
}

.es-footer-widget .widget-title {
    color: #eee;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.es-footer-widget a {
    color: #ccc;
    font-size: 13px;
}

#colophon .es-footer-widget li {
    border-bottom:none;
}

.es-footer-widget .textwidget ul {
    list-style: none;
    margin: 0;
    line-height: 35px;
}

.es-sub-footer .es-container{
    border-top: 1px solid #4f4f4f;
    padding: 15px 0;
    margin-top: 50px;   
}

.es-credit-wrapper {
    font-size: 11px;
    float: left;
}

.tagcloud a {
    font-size: 14px !important;
    border: 2px solid #4c4c4c;
    padding: 6px 10px;
    display: inline-block;
    margin-bottom: 10px;
    color: #A0A0A0;
    margin-right: 5px;
}

.widget .tagcloud a:hover{
    border-color: #27B6D4;
    color: #ffffff;
    background: #27B6D4;
}

.bottom-footer .site-info {
    float: left;
}

#footer-navigation {
    float: right;
}

#footer-navigation ul {
    list-style: none;
    margin: 0;
}

#footer-navigation ul ul {
    display: none;
}

#footer-navigation ul li {
    display: inline-block;
    margin-left: 20px;
}

#footer-navigation ul li a {
    color: #ccc;
}

#footer-navigation ul li a:hover{
    color: #27B6D4;
}

#top-footer .section-title-block {
    background: none;
}

#top-footer .section-title-wrapper::before, 
#top-footer .section-title-wrapper::after{
    display: none;
}

#top-footer .section-title-wrapper{
    margin-bottom: 0;
}
/*--------------------------------------------------------------
Scroll to top Css
--------------------------------------------------------------*/

#es-scrollup {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #27B6D4;
    border-bottom: 3px solid #dd1f26;
    width: 40px;
    height: 42px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/*--------------------------------------------------------------
Inner Page Css
--------------------------------------------------------------*/

.custom-header {
   padding: 80px 0;
   text-align: center;
   position: relative;
   background-attachment: fixed;
   margin-bottom: 50px;
}

.custom-header::before {
   content: "";
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.2);
   position: absolute;
   top: 0;
   left: 0;
}

.custom-header.no-bg-img::before{
   display: none;
}

.custom-header.no-bg-img {
   box-shadow: 0 0 15px rgba(0,0,0,0.05) inset;
   padding: 20px 0;
   background: #f9f9f9;
}

.custom-header .mt-container{
   position: relative;
   z-index: 999;
}

.custom-header .entry-title,
.custom-header .page-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
}

.custom-header .breadcrumb-trail.breadcrumbs ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.custom-header .breadcrumb-trail.breadcrumbs ul li {
   display: inline-block;
   color: #fff;
   padding: 6px 0px 0;
}

.custom-header .breadcrumb-trail.breadcrumbs ul li::after {
    content: "/";
    color: #fff;
    margin: 0 5px;
}

.custom-header .breadcrumb-trail.breadcrumbs ul li:last-child:after{
   display: none;
}

.custom-header .breadcrumb-trail.breadcrumbs ul li a{
   color: #27B6D4;
}

.custom-header .breadcrumb-trail.breadcrumbs ul li a:hover{
    color: #dd1f26;
}

.custom-header.no-bg-img .entry-title,
.custom-header.no-bg-img .page-title,
.custom-header.no-bg-img .breadcrumb-trail.breadcrumbs ul li::after,
.custom-header.no-bg-img .breadcrumb-trail.breadcrumbs ul li {
   color: #333;
}

/*--------------------------------------------------------------
Error 404 styles
--------------------------------------------------------------*/

.error-404.not-found {
   text-align: center;
}

.error-num {
   font-size: 200px;
   font-weight: 900;
   color: #333;
   line-height: 230px;
}

.error-num span {
   font-size: 84px;
   text-transform: capitalize;
}

/*--------------------------------------------------------------
Search styles
--------------------------------------------------------------*/
.search-results .product {
    border: none;
}

.search-results .product .entry-content-block {
    width: 100%;
}
