@media only screen and (max-width: 1024px) {
 .loginheader{
 	padding: 0px !important;
 }
 .ribbon-edge-topleft2{
       left: 97px !important;
 }

}

@media only screen and (max-width: 800px){
.ribbon-edge-topleft2 {
    left: 165px !important;
}
}
@media only screen and (max-width: 450px){
.app-hero-content{
	    padding: 28px 0 0 !important;
}
.app-hero-content img{
	height: 200px;
}
.ribbon-front {
	top: 4px;
	margin-bottom: 36px;

}
.ribbon-edge-topleft2 {
    left: 108px;
    top: 4px;
}
.navbar .navbar-brand img {
    width: 33%;
}
/*.services-content {
    padding-top: 46px !important;
    padding-bottom: 0px !important;
}*/
}