.form-group {
 		position: relative;
 		margin-bottom: 1.5rem;
 	}

 	.form-control-placeholder {
 		position: absolute;
 		top: 0;
 		padding: 7px 0 0 13px;
 		transition: all 200ms;
 		opacity: 0.5;
 	}
.dropdwn{
	height: 45px!important;
}
textarea[type="text"]{
	padding: 1em 0em 1em 2.7em;
}
 	.form-control:focus + .form-control-placeholder,
 	.form-control:valid + .form-control-placeholder {
 		font-size: 75%;
 		transform: translate3d(0, -100%, 0);
 		opacity: 1;
 	}
 	.msg-error {
 		color: #c65848;
 	}
 	.g-recaptcha.error {
 		border: solid 2px #c64848;
 		padding: .2em;
 		width: 19em;
 	}
 	.formElement input[type="text"], select{
 		max-width: 560px! important; 
 	}

 	.registration {
 		margin: 2% auto 7%;
 		width: 55%;
 		background: #fff;
 		border-radius: 0.5em;
 		-webkit-border-radius: 0.5em;
 		-o-border-radius: 0.5em;
 		-moz- border-radius: 0.5em;
 		margin-top: 12px;
 	}
 	.h2.ribbon-wrapper {
 		position: relative;
 	}
 	.h2 .ribbon-front {
 		background-color: #ffa300;
 		height: 43px;
 		width: 145px;
 		position: relative;
 		left: -10px;
 		z-index: 2;
 		top: 22px;
 	}
 	.h2 h2 {
 		color: #fff;
 		font-size: 0.8em;
 		/* padding: 7px 9px 5px 27px; */
 		/* font-weight: 300; */
 		line-height: 37px;
 		text-align: center;
 	}
 	.ribbon-edge-topleft2 {
 		top: 22px;
 		border-width: 22px 20px 21px 37px;
 		transform: rotate(-180deg);
 		border-radius: 1px;
 	}
 	.ribbon-edge-topleft2 {
 		left: 135px;
 		border-color: transparent #ffa300 transparent transparent;
 	}
 	.ribbon-edge-topleft2 {
 		position: absolute;
 		z-index: 1;
 		border-style: solid;
 		height: 0px;
 		width: 0px;
 	}
 	.h2 .ribbon-edge-bottomleft {
 		border-width: 0 10px 15px 0;
 	}
 	.h2 .ribbon-edge-bottomleft {
 		left: -10px;
 		border-color: transparent #e17e02 transparent transparent;
 	}
 	.h2 .ribbon-edge-bottomleft, .h2 .ribbon-edge-bottomright {
 		top: 65px;
 	}
 	.h2 .ribbon-edge-topleft, .h2 .ribbon-edge-topright, .h2 .ribbon-edge-bottomleft, .h2 .ribbon-edge-bottomright {
 		position: absolute;
 		z-index: 1;
 		border-style: solid;
 		height: 0px;
 		width: 0px;
 	}
 	ul {
 		list-style: none;
 		margin: 0px;
 		padding: 0px;
 	}
 	form li {
 		list-style: none;
 		width: 100%;
 		font-weight: 500;
 		border: 1px solid #ccc;
 		background: #fff;
 		margin: 1em 0;
 		outline: none;
 	}
 	.form-control{
 		padding: 6px 12px 6px 2.7em;
 	}
 	input[type="text"], input[type="password"] {
 		width: 100%;
 		padding: 1em 0em 1em 2.7em;
 		color: #858282;
 		font-size: 15px;
 		outline: none;
 		background: none;
 		font-weight: 500;
 		/*border: none;*/
 		height: 45px !important;
 	}
 	.submit input[type="submit"] {
 		font-size: 20px;
 		font-weight: 400;
 		color: #fff;
 		cursor: pointer;
 		outline: none;
 		padding: 21px 20px;
 		width: 100%;
 		border: none;
 		transition: 0.1s all;
 		-webkit-transition: 0.1s all;
 		-moz-transition: 0.1s all;
 		-o-transition: 0.1s all;
 		background: #4CAF50;
 		border-bottom-right-radius: 0.44em;
 		-webkit-border-bottom-right-radius: 0.4em;
 		-o-border-bottom-right-radius: 0.4em;
 		-moz-border-bottom-right-radius: 0.4em;
 		border-bottom-left-radius: 0.4em;
 		-webkit-border-bottom-left-radius: 0.4em;
 		-o-border-bottom-left-radius: 0.4em;
 		-moz-border-bottom-left-radius: 0.4em;
 	}
 	body{
 		background-color: #2d4866;
 	}
 	/* @media (max-width: 1366px)*/
 	form {
 		padding: 5% 4% 6% 4%;
 	}
 	.icon {
 	position: absolute;
 	left: 2%;
 	/* top: 13%; */
 	display: flex!important; /* added imp for fas fa icons*/
 	align-items: center;
 	height: 40px;
 	}
 	.msg{
 		color: #d01515;
 	}
 	.log-in{
 		color: #63a720;
    font-size: large;
 	}
 	.select2-hidden-accessible{
 		    border: 1px solid #ccc  !important;
 		        width: 269px !important;
 		            height: 33px !important;
 	}