/**
 * WooCommerce
 */
/**
 * Imports
 */
@font-face {
  font-family: 'star';
  src: url("../../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Header Elements
 */
.woocommerce-active .site-header .col-full {
  position: relative; }

.site-header-cart {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-bottom: 0; }
  .site-header-cart .widget_shopping_cart {
    display: none; }
    .site-header-cart .widget_shopping_cart .product_list_widget img {
      margin-left: 1em; }
  .site-header-cart .cart-contents {
    padding: 3px 0;
    display: block;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    text-indent: 0;
    text-align: right; }
    .site-header-cart .cart-contents:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f07a";
      line-height: 1.618;
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid #cccccc;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center; }
    .site-header-cart .cart-contents .amount {
      margin-right: 35px; }
    .site-header-cart .cart-contents .count {
      background-color: #ff6600;
      position: absolute;
      display: block;
      right: -10px;
      top: -15px;
      height: 20px;
      min-width: 20px;
      border-radius: 50%;
      color: #fff;
      font-size: 11px;
      text-align: center;
      line-height: 20px;
      padding-left: 2px;
      padding-right: 2px;
      z-index: 9; }
    .site-header-cart .cart-contents span {
      display: inline; }
      .site-header-cart .cart-contents span.label-cart {
        display: none; }

.site-search {
  font-size: 0.875em;
  clear: both;
  display: none; }
  .site-search .widget_product_search input[type=text],
  .site-search .widget_product_search input[type=search] {
    padding: 1.41575em 1.618em;
    line-height: 1;
    padding-left: 2.617924em; }
  .site-search .widget_product_search form:before {
    top: 1.41575em;
    left: 1.618em; }
  .site-search .widget_product_search #searchsubmit {
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important; }

/**
 * Handheld footer bar
 */
.shopper-handheld-footer-bar {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: none; }
  .shopper-handheld-footer-bar:before, .shopper-handheld-footer-bar:after {
    content: "";
    display: table; }
  .shopper-handheld-footer-bar:after {
    clear: both; }
  .shopper-handheld-footer-bar ul {
    margin: 0; }
    .shopper-handheld-footer-bar ul li {
      display: inline-block;
      float: left;
      text-align: center; }
      .shopper-handheld-footer-bar ul li:last-child > a {
        border-right: 0; }
      .shopper-handheld-footer-bar ul li > a {
        height: 3.176850774em;
        display: block;
        position: relative;
        text-indent: -9999px;
        z-index: 999;
        border-right: 1px solid rgba(255, 255, 255, 0.2); }
        .shopper-handheld-footer-bar ul li > a:active, .shopper-handheld-footer-bar ul li > a:focus {
          outline: none; }
        .shopper-handheld-footer-bar ul li > a:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          line-height: 2.618046972;
          font-weight: 400;
          font-size: 1.618em;
          text-indent: 0;
          display: block;
          cursor: pointer; }
      .shopper-handheld-footer-bar ul li.search > a:before {
        content: "\f002"; }
      .shopper-handheld-footer-bar ul li.search .site-search {
        position: absolute;
        bottom: -2em;
        left: 0;
        right: 0;
        -webkit-transition: all, ease, 0.2s;
        -moz-transition: all, ease, 0.2s;
        transition: all, ease, 0.2s;
        padding: 1em;
        z-index: 1;
        display: block; }
      .shopper-handheld-footer-bar ul li.search.active .site-search {
        bottom: 100%; }
      .shopper-handheld-footer-bar ul li.search .site-search,
      .shopper-handheld-footer-bar ul li.search .widget,
      .shopper-handheld-footer-bar ul li.search form {
        margin-bottom: 0; }
      .shopper-handheld-footer-bar ul li.my-account > a:before {
        content: "\f007"; }
      .shopper-handheld-footer-bar ul li.cart > a:before {
        content: "\f291"; }
      .shopper-handheld-footer-bar ul li.cart .count {
        text-indent: 0;
        display: block;
        width: 2em;
        height: 2em;
        line-height: 2;
        box-sizing: content-box;
        font-size: .75em;
        position: absolute;
        top: 0.875em;
        left: 50%;
        border-radius: 100%;
        border: 1px solid; }
    .shopper-handheld-footer-bar ul.columns-1 li {
      width: 100%;
      display: block;
      float: none; }
    .shopper-handheld-footer-bar ul.columns-2 li {
      width: 50%; }
    .shopper-handheld-footer-bar ul.columns-3 li {
      width: 33.33333%; }
    .shopper-handheld-footer-bar ul.columns-4 li {
      width: 25%; }
    .shopper-handheld-footer-bar ul.columns-5 li {
      width: 20%; }

/**
 * Shop tables
 */
table.shop_table_responsive thead {
  display: none; }

table.shop_table_responsive tbody th {
  display: none; }

table.shop_table_responsive tr td {
  display: block;
  text-align: right;
  clear: both; }
  table.shop_table_responsive tr td:before {
    content: attr(data-title) ": ";
    font-weight: 700;
    float: left; }
  table.shop_table_responsive tr td.product-remove a {
    text-align: left; }
  table.shop_table_responsive tr td.product-remove:before {
    display: none; }
  table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
    display: none; }
  table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center; }

table.shop_table_responsive.my_account_orders .order-actions {
  text-align: right; }
  table.shop_table_responsive.my_account_orders .order-actions:before {
    display: none; }

/**
 * Products
 */
ul.products {
  margin-left: 0;
  margin-bottom: 0;
  clear: both; }
  ul.products:before, ul.products:after {
    content: "";
    display: table; }
  ul.products:after {
    clear: both; }
  ul.products li.product {
    list-style: none;
    margin-left: 0;
    margin-bottom: 3.176850774em;
    text-align: center;
    position: relative;
    overflow: hidden; }
    ul.products li.product .star-rating,
    ul.products li.product .price {
      margin: 0 auto 1em; }
    ul.products li.product .woocommerce-LoopProduct-link {
      display: block;
      text-decoration: none; }
    ul.products li.product .price {
      display: block;
      color: #333333;
      font-weight: 400; }
      ul.products li.product .price ins {
        font-weight: 700;
        margin-left: 0.75em;
        background-color: transparent; }
    ul.products li.product h2,
    ul.products li.product h3,
    ul.products li.product .woocommerce-loop-product__title {
      font-size: 1.1em; }
    ul.products li.product .star-rating {
      font-size: 0.875em; }
    ul.products li.product img {
      display: block;
      margin: 0 auto 1.618em; }
    ul.products li.product.product-category h2,
    ul.products li.product.product-category h3,
    ul.products li.product.product-category .woocommerce-loop-category__title {
      font-size: 1.1em;
      background: rgba(255, 255, 255, 0.95);
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 30%;
      padding: .8em 1em 1em;
      text-transform: uppercase;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      transition: background 0.3s; }
      ul.products li.product.product-category h2 .cat-txt-title,
      ul.products li.product.product-category h3 .cat-txt-title,
      ul.products li.product.product-category .woocommerce-loop-category__title .cat-txt-title {
        display: block; }
      ul.products li.product.product-category h2 .count,
      ul.products li.product.product-category h3 .count,
      ul.products li.product.product-category .woocommerce-loop-category__title .count {
        font-size: 0.7em; }
    ul.products li.product.product-category img {
      margin-bottom: 1.618em; }
    ul.products li.product .loop-addtocart-btn-wrapper {
      position: absolute;
      left: 0;
      width: 100%; }
    ul.products li.product .button {
      margin-bottom: .236em;
      position: absolute;
      left: 100%;
      width: 100%;
      white-space: nowrap;
      opacity: 0;
      transition: .5s ease-in-out;
      margin-top: -32px; }
    ul.products li.product .added_to_cart {
      position: absolute;
      width: 100%;
      left: 0;
      margin-top: -63px;
      box-shadow: none; }

.price del {
  opacity: .5;
  font-weight: 400; }
  .price del + ins {
    margin-left: .327em; }

/**
 * Single Product
 */
.single-product .pswp__button {
  background-color: transparent; }

.single-product div.product {
  position: relative;
  overflow: hidden; }
  .single-product div.product:before, .single-product div.product:after {
    content: "";
    display: table; }
  .single-product div.product:after {
    clear: both; }
  .single-product div.product .images,
  .single-product div.product .summary,
  .single-product div.product .woocommerce-product-gallery {
    margin-bottom: 2.2906835em;
    margin-top: 0; }
  .single-product div.product .woocommerce-product-gallery {
    position: relative; }
    .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
      position: absolute;
      top: 0.875em;
      right: 0.875em;
      display: block;
      height: 2em;
      width: 2em;
      border-radius: 3px;
      z-index: 99;
      text-align: center;
      text-indent: -999px;
      overflow: hidden; }
      .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        content: "\f00e";
        line-height: 2;
        text-indent: 0; }
      .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
        display: none !important; }
    .single-product div.product .woocommerce-product-gallery img {
      margin: 0; }
    .single-product div.product .woocommerce-product-gallery .flex-viewport {
      margin-bottom: 1.618em; }
    .single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
      margin: 0;
      padding: 0; }
      .single-product div.product .woocommerce-product-gallery .flex-control-thumbs:before, .single-product div.product .woocommerce-product-gallery .flex-control-thumbs:after {
        content: "";
        display: table; }
      .single-product div.product .woocommerce-product-gallery .flex-control-thumbs:after {
        clear: both; }
      .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
        list-style: none;
        margin-bottom: 1.618em;
        cursor: pointer; }
        .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
          opacity: .5;
          -webkit-transition: all, ease, 0.2s;
          -moz-transition: all, ease, 0.2s;
          transition: all, ease, 0.2s; }
          .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
            opacity: 1; }
        .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
          opacity: 1; }
    .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
      width: 42.8571428571%;
      float: left;
      margin-right: 14.2857142857%; }
      .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
        margin-right: 0; }
    .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
      width: 23.8095238%;
      float: left;
      margin-right: 14.2857142857%; }
      .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
        margin-right: 0; }
    .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
      width: 14.2857142857%;
      float: left;
      margin-right: 14.2857142857%; }
      .single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
        margin-right: 0; }
  .single-product div.product .images .woocommerce-main-image {
    margin-bottom: 1.618em;
    display: block; }
  .single-product div.product .images .thumbnails a.zoom {
    display: block;
    width: 22.05%;
    margin-right: 3.8%;
    float: left;
    margin-bottom: 1em; }
    .single-product div.product .images .thumbnails a.zoom.last {
      margin-right: 0; }
    .single-product div.product .images .thumbnails a.zoom.first {
      clear: both; }
  .single-product div.product form.cart {
    margin-bottom: 1.618em;
    padding: 1em 0; }
    .single-product div.product form.cart:before, .single-product div.product form.cart:after {
      content: "";
      display: table; }
    .single-product div.product form.cart:after {
      clear: both; }
    .single-product div.product form.cart .quantity {
      float: left;
      margin-right: 10px; }
    .single-product div.product form.cart .button {
      box-shadow: none;
      padding: 0 20px;
      height: 36px;
      text-transform: uppercase; }
  .single-product div.product .price {
    font-weight: 700; }
  .single-product div.product table.variations {
    position: relative;
    margin: 0; }
    .single-product div.product table.variations th,
    .single-product div.product table.variations td {
      padding: 0;
      list-style: none;
      background-color: transparent;
      vertical-align: middle; }
    .single-product div.product table.variations .value {
      margin-bottom: 1em; }
      .single-product div.product table.variations .value select {
        border: 1px solid #ddd;
        padding: 0 .75em;
        margin: 0.5em 0;
        height: 2.507em;
        font-size: .97em;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
        background-color: #fff;
        color: #333;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: color .3s, border .3s, background .3s, opacity .3s; }
      .single-product div.product table.variations .value .reset_variations {
        position: absolute;
        right: 0;
        bottom: 95%;
        color: currentColor;
        opacity: 0.6;
        font-size: 11px;
        text-transform: uppercase; }
  .single-product div.product .single_variation .price {
    margin-bottom: 1em;
    display: block; }
  .single-product div.product .variations_button {
    padding-top: 1em; }
    .single-product div.product .variations_button:before, .single-product div.product .variations_button:after {
      content: "";
      display: table; }
    .single-product div.product .variations_button:after {
      clear: both; }
  .single-product div.product .woocommerce-product-rating {
    margin-bottom: 1.618em;
    line-height: 1;
    margin-top: -ms(-1); }
    .single-product div.product .woocommerce-product-rating:before, .single-product div.product .woocommerce-product-rating:after {
      content: "";
      display: table; }
    .single-product div.product .woocommerce-product-rating:after {
      clear: both; }
    .single-product div.product .woocommerce-product-rating a:hovet {
      font-weight: 400;
      text-decoration: underline; }
      .single-product div.product .woocommerce-product-rating a:hovet:hover {
        text-decoration: none; }
    .single-product div.product .woocommerce-product-rating .star-rating {
      float: left;
      margin-right: 0.75em; }
  .single-product div.product .product_meta {
    font-size: 0.875em;
    padding-top: 1em;
    border-top: 1px solid #eeeeee; }
    .single-product div.product .product_meta .sku_wrapper,
    .single-product div.product .product_meta .posted_in,
    .single-product div.product .product_meta .tagged_as {
      display: block; }
      .single-product div.product .product_meta .sku_wrapper:last-child,
      .single-product div.product .product_meta .posted_in:last-child,
      .single-product div.product .product_meta .tagged_as:last-child {
        border-bottom: 0; }
    .single-product div.product .product_meta a:hover {
      text-decoration: underline; }

.quantity input[type="number"] {
  max-width: 5.1401445523em;
  height: 36px;
  line-height: 34px;
  text-align: center;
  border-radius: 0 !important;
  -webkit-appearance: textfield;
  padding: 0;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none; }
  .quantity input[type="number"]::-webkit-outer-spin-button, .quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.quantity input[type="button"] {
  width: 26px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  color: #666666;
  border: 1px solid #f5f5f5; }
  .quantity input[type="button"]:hover {
    background-color: #f5f5f5; }

.stock:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.6180469716em; }

.stock:empty:before {
  display: none; }

.stock.in-stock {
  color: #0f834d; }
  .stock.in-stock:before {
    content: "\f118"; }

.stock.out-of-stock {
  color: #e2401c; }
  .stock.out-of-stock:before {
    content: "\f119"; }

a.reset_variations {
  display: inline-block;
  margin-left: 1em; }
  a.reset_variations:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f021";
    margin-right: 0.6180469716em; }

/**
 * Reviews
 */
#reviews #comments {
  padding-top: 0; }

#reviews .woocommerce-Reviews-title {
  font-weight: 300; }
  #reviews .woocommerce-Reviews-title span {
    font-weight: 700; }

#reviews .commentlist {
  list-style: none;
  margin-left: 0; }
  #reviews .commentlist li {
    margin-bottom: 2.2906835em;
    list-style: none;
    clear: both; }
    #reviews .commentlist li:before, #reviews .commentlist li:after {
      content: "";
      display: table; }
    #reviews .commentlist li:after {
      clear: both; }
    #reviews .commentlist li .comment_container {
      padding: 1.618em;
      border-radius: 3px; }
      #reviews .commentlist li .comment_container .comment-text p:last-of-type {
        margin-bottom: 0; }
    #reviews .commentlist li:last-child {
      border-bottom: 0;
      margin-bottom: 0; }
    #reviews .commentlist li time {
      opacity: 0.5; }
    #reviews .commentlist li .avatar {
      float: left;
      width: 1.963443em;
      height: auto;
      margin-right: 1em; }
    #reviews .commentlist li p.meta {
      margin-bottom: 1em; }
    #reviews .commentlist li ul.children {
      width: 81.8181818182%;
      float: right;
      margin-right: 0;
      margin-bottom: 0;
      padding-top: 1.618em; }
      #reviews .commentlist li ul.children li {
        margin-bottom: 1.618em; }
        #reviews .commentlist li ul.children li:last-child {
          margin-bottom: 0; }

#reviews .comment-form-rating {
  clear: both; }
  #reviews .comment-form-rating label {
    display: block; }

/**
 * Breadcrumbs
 */
.woocommerce-breadcrumb {
  margin-left: -1.387rem;
  margin-right: -1.387rem;
  margin-bottom: 1.618em;
  font-size: 0.875em;
  padding: 1em 1.387rem; }
  .woocommerce-breadcrumb a {
    text-decoration: none;
    padding: 0 10px; }
    .woocommerce-breadcrumb a:first-of-type {
      padding-left: 0; }
      .woocommerce-breadcrumb a:first-of-type:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f015";
        margin-right: 0.6180469716em; }
    .woocommerce-breadcrumb a:hover {
      opacity: 0.7; }

/**
 * Widgets
 */
.product_list_widget {
  list-style: none;
  margin-left: 0; }
  .product_list_widget li {
    padding: 1em 0;
    border-bottom: 1px solid #eeeeee; }
    .product_list_widget li:before, .product_list_widget li:after {
      content: "";
      display: table; }
    .product_list_widget li:after {
      clear: both; }
    .product_list_widget li img {
      max-width: 2.2906835em;
      float: right; }
    .product_list_widget li > a {
      display: block; }

.widget ul.products li.product a {
  text-decoration: none; }

.widget_products a {
  display: block; }

.widget_shopping_cart .product_list_widget {
  margin-bottom: 0; }
  .widget_shopping_cart .product_list_widget li {
    padding-left: 2em;
    position: relative; }
    .widget_shopping_cart .product_list_widget li a.remove {
      position: absolute;
      top: 1em;
      left: 0;
      opacity: 1; }

.widget_shopping_cart p.total,
.widget_shopping_cart p.buttons {
  padding: 1em 0;
  margin: 0;
  text-align: center; }

.widget_shopping_cart p.total {
  border-bottom: 1px solid #eeeeee; }

.widget_shopping_cart .buttons .button {
  display: block; }
  .widget_shopping_cart .buttons .button:nth-child(odd) {
    margin-bottom: 0.75em; }

.widget_product_categories > ul {
  margin: 0; }
  .widget_product_categories > ul > li {
    list-style: none;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .widget_product_categories > ul > li .toggle {
      width: 1em;
      min-height: 1em;
      font-size: 1.2em;
      height: auto;
      box-shadow: none !important;
      padding: 0;
      color: currentColor;
      opacity: .6;
      margin: 0;
      text-align: center;
      display: inline-block;
      line-height: 33px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all .3s; }
      .widget_product_categories > ul > li .toggle:hover {
        opacity: 1;
        cursor: pointer; }
      .widget_product_categories > ul > li .toggle i {
        font-size: 0.875em;
        transition: all .3s; }
    .widget_product_categories > ul > li:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 0.6180469716em;
      opacity: 0.25; }
    .widget_product_categories > ul > li > a {
      display: inline-block;
      padding: 6px 0; }
  .widget_product_categories > ul li.current-cat-parent > a {
    color: #ff6600; }
  .widget_product_categories > ul li.current-cat > a {
    color: #ff6600; }
  .widget_product_categories > ul li.active .children {
    display: block; }
  .widget_product_categories > ul li.active .toggle {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }
    .widget_product_categories > ul li.active .toggle i:before {
      content: '\f068'; }

.widget_product_categories .children {
  display: none;
  border-left: 1px solid #ddd;
  width: 100%;
  padding-left: 15px;
  margin: 0 0 10px 3px; }
  .widget_product_categories .children a {
    font-size: .9em;
    padding: 3px 0;
    display: inline-block; }

.site-header .widget_shopping_cart p.total,
.site-header .widget_shopping_cart p.buttons,
.site-header .widget_shopping_cart li {
  padding-left: 1.41575em;
  padding-right: 1.41575em; }

.widget_layered_nav li {
  margin-bottom: 0.75em; }
  .widget_layered_nav li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.6180469716em;
    opacity: 0.35;
    content: "\f0c8"; }

.widget_layered_nav .chosen:before {
  content: "\f14a"; }

.widget_layered_nav_filters ul li.chosen a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  margin-right: 0.6180469716em;
  color: #e2401c; }

.widget.woocommerce li .count {
  font-size: 1em;
  float: right; }

.widget_price_filter .price_slider {
  margin-bottom: 1em; }

.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em; }
  .widget_price_filter .price_slider_amount .button {
    float: left; }

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left; }

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: ew-resize;
  outline: none;
  background: #067ab4;
  box-sizing: border-box;
  margin-top: -.25em;
  opacity: 1; }
  .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em; }
  .widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1); }

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #067ab4;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em; }

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: rgba(0, 0, 0, 0.1); }

.widget_price_filter .ui-slider-horizontal {
  height: .5em; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px; }

/**
 * Cart
 */
table.cart {
  margin-bottom: 2.617924em; }
  table.cart .product-quantity .plus,
  table.cart .product-quantity .minus {
    display: none; }
  table.cart .product-thumbnail img {
    margin: 0 auto;
    max-width: 2.617924em;
    height: auto; }
  table.cart .product-thumbnail:before {
    display: none; }
  table.cart tr:first-child td.product-remove {
    border-top-width: 0; }
  table.cart td.product-remove {
    padding: 0;
    border-top: 1.618em solid;
    position: relative; }
    table.cart td.product-remove:before, table.cart td.product-remove:after {
      content: "";
      display: table; }
    table.cart td.product-remove:after {
      clear: both; }
    table.cart td.product-remove a.remove {
      position: absolute;
      top: -0.75em;
      right: -0.75em; }
  table.cart td.product-quantity .qty {
    padding: .326em;
    width: 2.617924em; }
  table.cart td,
  table.cart th {
    padding: 0.875em 0.875em 0; }
  table.cart td.product-subtotal {
    padding-bottom: 0.875em; }
  table.cart td.actions {
    border-top: 1em solid #eeeeee;
    background-color: transparent;
    padding: 0.75em 0; }
    table.cart td.actions label {
      display: none; }
    table.cart td.actions .coupon {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #eeeeee; }
    table.cart td.actions input {
      display: block;
      width: 100%;
      margin: 0.6180469716em 0; }
      table.cart td.actions input[name="update_cart"]:focus {
        outline: none; }

.wc-proceed-to-checkout:before, .wc-proceed-to-checkout:after {
  content: "";
  display: table; }

.wc-proceed-to-checkout:after {
  clear: both; }

.wc-proceed-to-checkout .button {
  display: block;
  text-align: center; }

ul#shipping_method {
  margin: 0;
  list-style: none; }

a.remove {
  display: inline-block;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative; }
  a.remove:before {
    content: "\f057";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #e2401c;
    line-height: 1.618;
    text-indent: 0;
    text-align: center; }

/**
 * Checkout
 *
 * 1 - Required to make the blockUI overlay cover the entire page rather than just the checkout form. We do this because
 *     otherwise our sticky order review can break out of the checkout form (and the blockUI element).
 */
.checkout_coupon {
  margin-bottom: 2.2906835em; }

form.checkout {
  position: static !important;
  /* 1 */ }
  form.checkout:before, form.checkout:after {
    content: "";
    display: table; }
  form.checkout:after {
    clear: both; }
  form.checkout > .blockUI {
    position: fixed !important;
    /* 1 */ }

.blockUI:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f110";
  -webkit-animation: fa-spin 0.75s linear infinite;
  -moz-animation: fa-spin 0.75s linear infinite;
  animation: fa-spin 0.75s linear infinite;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px; }

#payment:before, #payment:after {
  content: "";
  display: table; }

#payment:after {
  clear: both; }

#payment .create-account {
  clear: both; }

#payment .payment_methods {
  margin: 0 !important;
  padding: 0 !important; }
  #payment .payment_methods > .wc_payment_method > label {
    display: block;
    padding: 1.41575em;
    cursor: pointer; }
    #payment .payment_methods > .wc_payment_method > label:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f10c";
      margin-right: 0.6180469716em;
      -webkit-transition: color, ease, 0.2s;
      -moz-transition: color, ease, 0.2s;
      transition: color, ease, 0.2s; }
  #payment .payment_methods li {
    list-style: none !important;
    margin-left: 0;
    margin-bottom: 1px;
    position: relative; }
    #payment .payment_methods li img {
      float: right;
      border: 0;
      padding: 0;
      max-height: 1.618em; }
    #payment .payment_methods li:last-child {
      padding-bottom: 0;
      border-bottom: 0; }
    #payment .payment_methods li.wc_payment_method > input[type=radio]:first-child {
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important; }
      #payment .payment_methods li.wc_payment_method > input[type=radio]:first-child:checked + label:before {
        content: "\f192"; }
    #payment .payment_methods li p {
      margin: 0; }
    #payment .payment_methods li .payment_box {
      padding: 1.41575em; }
      #payment .payment_methods li .payment_box fieldset {
        border: 0;
        margin: 0;
        padding: 1em 0 0 0;
        font-size: 0.875em; }
        #payment .payment_methods li .payment_box fieldset label {
          width: auto;
          margin-left: 0; }
        #payment .payment_methods li .payment_box fieldset .form-row {
          margin-bottom: 1em; }
          #payment .payment_methods li .payment_box fieldset .form-row input[type="checkbox"] {
            margin-right: 5px; }
        #payment .payment_methods li .payment_box fieldset #cvv {
          width: 22% !important; }
        #payment .payment_methods li .payment_box fieldset .help {
          width: 75%;
          float: right; }
      #payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods {
        padding-top: 1em;
        margin: 0; }
        #payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods li {
          margin-top: 0.75em; }
          #payment .payment_methods li .payment_box .woocommerce-SavedPaymentMethods li input[type=radio] {
            margin-right: .236em; }
      #payment .payment_methods li .payment_box ul.wc-saved-payment-methods {
        margin-left: 0; }
      #payment .payment_methods li .payment_box .wc-credit-card-form-card-number,
      #payment .payment_methods li .payment_box .wc-credit-card-form-card-expiry,
      #payment .payment_methods li .payment_box .wc-credit-card-form-card-cvc {
        font-size: 1.41575em; }
      #payment .payment_methods li .payment_box .wc-credit-card-form-card-number {
        background-repeat: no-repeat;
        background-position: right 0.75em center;
        background-size: 31px 20px;
        background-image: url(../../../assets/images/credit-cards/unknown.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.visa {
          background-image: url(../../../assets/images/credit-cards/visa.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.mastercard {
          background-image: url(../../../assets/images/credit-cards/mastercard.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.laser {
          background-image: url(../../../assets/images/credit-cards/laser.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.dinersclub {
          background-image: url(../../../assets/images/credit-cards/diners.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.maestro {
          background-image: url(../../../assets/images/credit-cards/maestro.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.jcb {
          background-image: url(../../../assets/images/credit-cards/jcb.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.amex {
          background-image: url(../../../assets/images/credit-cards/amex.svg); }
        #payment .payment_methods li .payment_box .wc-credit-card-form-card-number.discover {
          background-image: url(../../../assets/images/credit-cards/discover.svg); }

#payment .terms {
  width: 100%;
  clear: both;
  float: none;
  margin-bottom: 0;
  margin-bottom: 1em; }
  #payment .terms label {
    display: block;
    cursor: pointer; }

#payment .place-order {
  padding: 1.41575em;
  margin-bottom: 0;
  float: none;
  width: 100%; }
  #payment .place-order .button {
    width: 100%;
    white-space: pre-wrap; }

.woocommerce-checkout .payment-fixed {
  position: fixed;
  top: 0;
  z-index: 9;
  box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2); }

.admin-bar .woocommerce-checkout .payment-fixed {
  top: 32px; }

.admin-bar .woocommerce-checkout #wc_checkout_add_ons label + br {
  display: none; }

/**
 * Password strength meter
 */
.woocommerce-password-strength {
  text-align: left;
  font-weight: 600;
  padding: 0.6180469716em 0;
  text-align: right;
  font-size: 0.875em; }
  .woocommerce-password-strength:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f119";
    margin-left: 0.6180469716em; }
  .woocommerce-password-strength.strong {
    color: #0f834d; }
    .woocommerce-password-strength.strong:after {
      content: "\f118"; }
  .woocommerce-password-strength.short {
    color: #e2401c; }
  .woocommerce-password-strength.bad {
    color: #e2401c; }
  .woocommerce-password-strength.good {
    color: #3D9CD2; }
    .woocommerce-password-strength.good:after {
      content: "\f11a"; }

/**
 * My Account
 */
.woocommerce-MyAccount-navigation ul {
  margin-left: 0;
  border-top: 1px solid #eeeeee; }
  .woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    position: relative; }
    .woocommerce-MyAccount-navigation ul li.is-active a:before {
      opacity: 1; }
    .woocommerce-MyAccount-navigation ul li a {
      padding: 0.875em 0;
      display: block; }
      .woocommerce-MyAccount-navigation ul li a:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0f6";
        line-height: 1.618;
        margin-left: 0.6180469716em;
        width: 1.41575em;
        text-align: right;
        float: right;
        opacity: .25; }
      .woocommerce-MyAccount-navigation ul li a:hover:before {
        opacity: 1; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
      content: "\f0e4"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
      content: "\f291"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
      content: "\f1c6"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
      content: "\f015"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
      content: "\f09d"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
      content: "\f007"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
      content: "\f08b"; }
    .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
      content: "\f021"; }

ul.order_details {
  list-style: none;
  position: relative;
  margin: 2.617924em 0; }
  ul.order_details:before, ul.order_details:after {
    content: "";
    display: table; }
  ul.order_details:after {
    clear: both; }
  ul.order_details:before, ul.order_details:after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background-size: 0px 100%, 16px 16px, 16px 16px; }
  ul.order_details:after {
    top: auto;
    bottom: -16px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  ul.order_details li {
    padding: 1em 1.618em;
    font-size: .8em;
    text-transform: uppercase; }
    ul.order_details li:first-child {
      padding-top: 1.618em; }
    ul.order_details li:last-child {
      border: 0;
      padding-bottom: 1.618em; }
    ul.order_details li strong {
      display: block;
      font-size: 1.41575em;
      text-transform: none; }

.my_account_orders .button,
.woocommerce-MyAccount-downloads .button {
  padding: 0.75em 0.875em;
  font-size: 0.875em;
  margin-right: .236em; }

.my_account_orders .button.view:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f06e";
  margin-left: 0.6180469716em; }

p.order-again .button:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f021";
  margin-left: 0.6180469716em; }

.woocommerce-MyAccount-downloads .button:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0ed";
  margin-left: 0.6180469716em; }

.woocommerce-MyAccount-content h2 {
  font-size: 2em;
  font-weight: 600; }

.woocommerce-MyAccount-content #payment .payment_methods {
  margin-bottom: 1.618em !important; }
  .woocommerce-MyAccount-content #payment .payment_methods li .payment_box {
    background-color: rgba(0, 0, 0, 0.05); }

/**
 * General WooCommerce components
 */
.woocommerce-form__label-for-checkbox {
  cursor: pointer;
  display: block; }
  .woocommerce-form__label-for-checkbox .woocommerce-form__input-checkbox {
    margin-right: 0.4635352287em; }

.form-row label {
  display: block; }

.form-row input,
.form-row textarea,
.form-row select {
  width: 100%; }

.form-row input[type=checkbox],
.form-row input[type=radio] {
  width: auto; }

.form-row .button {
  width: auto; }

.form-row.create-account label {
  display: inline-block; }

.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 2px 0 0 #0f834d; }

.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 2px 0 0 #e2401c; }

.form-row-last {
  margin-right: 0 !important; }

.form-row-wide {
  clear: both;
  width: 100%; }

.required {
  border-bottom: 0 !important;
  color: red; }

.demo_store {
  position: fixed;
  left: 0;
  bottom: 69px;
  right: 0;
  margin: 0;
  padding: 1em 1.41575em;
  background-color: #3D9CD2;
  color: #fff;
  z-index: 999; }
  .demo_store a {
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
    display: block; }
    .demo_store a:hover {
      text-decoration: none; }
  .demo_store:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 0.6180469716em;
    content: "\f05a"; }

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.3em;
  font-family: 'star';
  font-weight: 400; }
  .star-rating:before {
    content: "\53\53\53\53\53";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute; }
  .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em; }
  .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: #ff6600; }

p.stars {
  display: inline-block;
  margin: 0; }
  p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400; }
    p.stars a:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: "star";
      content: "\53";
      color: #333333;
      text-indent: 0;
      opacity: .25; }
    p.stars a:hover ~ a:before {
      content: "\53";
      color: #333333;
      opacity: .25; }
  p.stars:hover a:before {
    content: "\53";
    color: #ff6600;
    opacity: 1; }
  p.stars.selected a.active:before {
    content: "\53";
    color: #ff6600;
    opacity: 1; }
  p.stars.selected a.active ~ a:before {
    content: "\53";
    color: #333333;
    opacity: .25; }
  p.stars.selected a:not(.active):before {
    content: "\53";
    color: #ff6600;
    opacity: 1; }

.onsale {
  color: #ffffff;
  padding: 0.202em 0.75em;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1em;
  position: absolute;
  top: 5%;
  left: 0;
  background: #ff6600;
  z-index: 1; }

.quantity .qty {
  width: 3.176850774em;
  text-align: center; }

.shopper-sorting {
  font-size: 0.875em;
  margin-bottom: 2.2906835em; }

.woocommerce-tabs {
  padding: 1em 0; }
  .woocommerce-tabs ul.tabs {
    list-style: none;
    margin-left: 0;
    text-align: left;
    border-top: 1px solid #eeeeee; }
    .woocommerce-tabs ul.tabs li {
      display: block;
      margin: 0;
      border-bottom: 1px solid #eeeeee;
      position: relative; }
      .woocommerce-tabs ul.tabs li a {
        padding: 1em 0;
        display: block; }
      .woocommerce-tabs ul.tabs li:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107";
        display: block;
        position: absolute;
        top: 50%;
        right: -1em;
        transform: translateY(-50%);
        opacity: 0;
        -webkit-transition: all, ease, 0.3s;
        -moz-transition: all, ease, 0.3s;
        transition: all, ease, 0.3s; }
      .woocommerce-tabs ul.tabs li.active:after {
        opacity: 1;
        right: 0; }
  .woocommerce-tabs .panel h2:first-of-type {
    font-size: 1.618em;
    margin-bottom: 1em; }

.related > h2:first-child,
.upsells > h2:first-child {
  font-size: 1.618em;
  margin-bottom: 1em; }

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  padding: 1em 1.618em;
  margin-bottom: 2.2906835em;
  margin-left: 0;
  border-radius: 2px;
  clear: both;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-left: 0.75em solid rgba(0, 0, 0, 0.15); }
  .woocommerce-message:before, .woocommerce-message:after,
  .woocommerce-info:before,
  .woocommerce-info:after,
  .woocommerce-error:before,
  .woocommerce-error:after,
  .woocommerce-noreviews:before,
  .woocommerce-noreviews:after,
  p.no-comments:before,
  p.no-comments:after {
    content: "";
    display: table; }
  .woocommerce-message:after,
  .woocommerce-info:after,
  .woocommerce-error:after,
  .woocommerce-noreviews:after,
  p.no-comments:after {
    clear: both; }
  .woocommerce-message a:hover,
  .woocommerce-info a:hover,
  .woocommerce-error a:hover,
  .woocommerce-noreviews a:hover,
  p.no-comments a:hover {
    opacity: 0.7; }
  .woocommerce-message a.button:hover,
  .woocommerce-info a.button:hover,
  .woocommerce-error a.button:hover,
  .woocommerce-noreviews a.button:hover,
  p.no-comments a.button:hover {
    opacity: 1; }
  .woocommerce-message .button,
  .woocommerce-info .button,
  .woocommerce-error .button,
  .woocommerce-noreviews .button,
  p.no-comments .button {
    float: right;
    padding: 0;
    line-height: 1.618;
    background: none;
    box-shadow: none;
    padding-left: 1em;
    border-width: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 0; }
    .woocommerce-message .button:hover,
    .woocommerce-info .button:hover,
    .woocommerce-error .button:hover,
    .woocommerce-noreviews .button:hover,
    p.no-comments .button:hover {
      background: none;
      text-decoration: underline;
      opacity: 0.7; }
  .woocommerce-message pre,
  .woocommerce-info pre,
  .woocommerce-error pre,
  .woocommerce-noreviews pre,
  p.no-comments pre {
    background-color: rgba(0, 0, 0, 0.1); }

.woocommerce-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  margin: 0 !important;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .woocommerce-message.hide {
    -webkit-transform: translateY(-100%) translate3d(0, 0, 0);
    -moz-transform: translateY(-100%) translate3d(0, 0, 0);
    transform: translateY(-100%) translate3d(0, 0, 0); }
  .woocommerce-message .woocommerce-close {
    position: absolute;
    right: 20px;
    color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    background: #d33;
    line-height: 40px;
    top: 10px;
    cursor: pointer;
    z-index: 9999; }

.site-content > .col-full > .woocommerce > .woocommerce-message:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-info:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-error:first-child {
  margin-top: 2.2906835em; }

.wc-forward:after,
.woocommerce-Button--next:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f178";
  margin-left: 0.6180469716em; }

.woocommerce-Button--previous:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f177";
  margin-right: 0.6180469716em; }

.woocommerce-error {
  list-style: none; }

.woocommerce-message .button {
  color: #3c763d;
  border-left-color: rgba(60, 118, 61, 0.25) !important;
  margin-right: 55px; }

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }
  .woocommerce-info .button,
  .woocommerce-noreviews .button,
  p.no-comments .button {
    color: #31708f;
    border-left-color: rgba(49, 112, 143, 0.15); }
    .woocommerce-info .button:hover,
    .woocommerce-noreviews .button:hover,
    p.no-comments .button:hover {
      color: #067ab4; }

.woocommerce-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }
  .woocommerce-error a {
    color: #a94442;
    border-left-color: rgba(169, 68, 66, 0.15); }

dl.variation {
  font-size: 0.875em; }
  dl.variation dd {
    margin: 0 0 1em; }

.wc-item-meta {
  font-size: 0.875em;
  margin-left: 0;
  list-style: none; }
  .wc-item-meta li:before, .wc-item-meta li:after {
    content: "";
    display: table; }
  .wc-item-meta li:after {
    clear: both; }
  .wc-item-meta li strong,
  .wc-item-meta li p {
    display: inline-block; }

/**
 * My Account
 */
.woocommerce-MyAccount-content .woocommerce-Pagination {
  text-align: center; }

@media (min-width: 768px) {
  .demo_store {
    bottom: 0; }
    .demo_store a {
      background: rgba(0, 0, 0, 0.1);
      float: right;
      display: inline-block;
      margin: -1em -1.41575em -1em 0;
      padding: 1em 1.41575em; }
      .demo_store a:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f057";
        margin-right: 0.4635352287em; }
  /**
	 * Handheld footer bar
	 */
  .shopper-handheld-footer-bar {
    display: none; }
  /**
	 * Breadcrumbs
	 */
  .woocommerce-breadcrumb {
    background: none !important;
    padding: 0.75em 99em;
    margin-left: -99em;
    margin-right: -99em;
    margin-bottom: 3.176850774em;
    border-bottom: 1px solid #f5f5f5;
    color: #666666; }
  /**
	 * Responsive tables
	 */
  table.shop_table_responsive thead {
    display: table-header-group; }
  table.shop_table_responsive tbody th {
    display: table-cell; }
  table.shop_table_responsive tr td {
    display: table-cell; }
    table.shop_table_responsive tr td:before {
      display: none; }
  /**
	 * Header Elements
	 */
  .site-header-cart {
    position: relative; }
    .site-header-cart .widget_shopping_cart {
      position: absolute;
      top: 100%;
      width: 100%;
      min-width: 260px;
      z-index: 999999;
      font-size: 0.875em;
      right: -9999em;
      display: block; }
      .site-header-cart .widget_shopping_cart.sub-menu--is-touch-device {
        display: none;
        left: 0; }
      .site-header-cart .widget_shopping_cart h2.widgettitle {
        display: none; }
      .site-header-cart .widget_shopping_cart .product_list_widget li a.remove {
        position: relative;
        float: left;
        top: auto;
        color: transparent; }
        .site-header-cart .widget_shopping_cart .product_list_widget li a.remove:before {
          text-align: left; }
    .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
      right: 0;
      display: block; }
  .site-search {
    display: block; }
    .site-search form {
      margin: 0; }
  /**
	 * Reset mobile product styles
	 */
  ul.products li.product {
    clear: none;
    width: 100%;
    float: left;
    font-size: 0.875em; }
    ul.products li.product.first {
      clear: both !important; }
    ul.products li.product.last {
      margin-right: 0 !important; }
  /**
	 * Full width content area product layout
	 */
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-1 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-1 ul.products li.post,
  .page-template-tpl-page-fullwidth-php .site-main .columns-1 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main .columns-1 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-1 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-1 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main .columns-1 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main .columns-1 ul.products li.post,
  .shopper-full-width-content .site-main-shop .columns-1 ul.products li.product,
  .shopper-full-width-content .site-main-shop .columns-1 ul.products li.post,
  .shopper-full-width-content .site-main .columns-1 ul.products li.product,
  .shopper-full-width-content .site-main .columns-1 ul.products li.post {
    width: 100%;
    margin-right: 0;
    float: none; }
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-2 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-2 ul.products li.post,
  .page-template-tpl-page-fullwidth-php .site-main .columns-2 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main .columns-2 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-2 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-2 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main .columns-2 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main .columns-2 ul.products li.post,
  .shopper-full-width-content .site-main-shop .columns-2 ul.products li.product,
  .shopper-full-width-content .site-main-shop .columns-2 ul.products li.post,
  .shopper-full-width-content .site-main .columns-2 ul.products li.product,
  .shopper-full-width-content .site-main .columns-2 ul.products li.post {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-3 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-3 ul.products li.post,
  .page-template-tpl-page-fullwidth-php .site-main .columns-3 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main .columns-3 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-3 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-3 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main .columns-3 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main .columns-3 ul.products li.post,
  .shopper-full-width-content .site-main-shop .columns-3 ul.products li.product,
  .shopper-full-width-content .site-main-shop .columns-3 ul.products li.post,
  .shopper-full-width-content .site-main .columns-3 ul.products li.product,
  .shopper-full-width-content .site-main .columns-3 ul.products li.post {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%; }
    .page-template-tpl-page-fullwidth-php .site-main-shop .columns-3 ul.products li.product:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-fullwidth-php .site-main-shop .columns-3 ul.products li.post:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-fullwidth-php .site-main .columns-3 ul.products li.product:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-fullwidth-php .site-main .columns-3 ul.products li.post:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-homepage-php .site-main-shop .columns-3 ul.products li.product:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-homepage-php .site-main-shop .columns-3 ul.products li.post:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-homepage-php .site-main .columns-3 ul.products li.product:hover .woocommerce-loop-category__title,
    .page-template-tpl-page-homepage-php .site-main .columns-3 ul.products li.post:hover .woocommerce-loop-category__title,
    .shopper-full-width-content .site-main-shop .columns-3 ul.products li.product:hover .woocommerce-loop-category__title,
    .shopper-full-width-content .site-main-shop .columns-3 ul.products li.post:hover .woocommerce-loop-category__title,
    .shopper-full-width-content .site-main .columns-3 ul.products li.product:hover .woocommerce-loop-category__title,
    .shopper-full-width-content .site-main .columns-3 ul.products li.post:hover .woocommerce-loop-category__title {
      background-color: #ff6600;
      color: #fff; }
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-4 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-4 ul.products li.post,
  .page-template-tpl-page-fullwidth-php .site-main .columns-4 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main .columns-4 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-4 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-4 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main .columns-4 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main .columns-4 ul.products li.post,
  .shopper-full-width-content .site-main-shop .columns-4 ul.products li.product,
  .shopper-full-width-content .site-main-shop .columns-4 ul.products li.post,
  .shopper-full-width-content .site-main .columns-4 ul.products li.product,
  .shopper-full-width-content .site-main .columns-4 ul.products li.post {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%; }
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-5 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-5 ul.products li.post,
  .page-template-tpl-page-fullwidth-php .site-main .columns-5 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main .columns-5 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-5 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-5 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main .columns-5 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main .columns-5 ul.products li.post,
  .shopper-full-width-content .site-main-shop .columns-5 ul.products li.product,
  .shopper-full-width-content .site-main-shop .columns-5 ul.products li.post,
  .shopper-full-width-content .site-main .columns-5 ul.products li.product,
  .shopper-full-width-content .site-main .columns-5 ul.products li.post {
    width: 16.9%;
    margin-right: 3.8%; }
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-6 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main-shop .columns-6 ul.products li.post,
  .page-template-tpl-page-fullwidth-php .site-main .columns-6 ul.products li.product,
  .page-template-tpl-page-fullwidth-php .site-main .columns-6 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-6 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main-shop .columns-6 ul.products li.post,
  .page-template-tpl-page-homepage-php .site-main .columns-6 ul.products li.product,
  .page-template-tpl-page-homepage-php .site-main .columns-6 ul.products li.post,
  .shopper-full-width-content .site-main-shop .columns-6 ul.products li.product,
  .shopper-full-width-content .site-main-shop .columns-6 ul.products li.post,
  .shopper-full-width-content .site-main .columns-6 ul.products li.product,
  .shopper-full-width-content .site-main .columns-6 ul.products li.post {
    width: 13.0434782609%;
    float: left;
    margin-right: 4.347826087%; }
  /**
	 * Main content area (adjacent to sidebar) product layout
	 */
  .site-main-shop ul.products li.product img,
  .site-main-shop ul.products li.post img,
  .site-main ul.products li.product img,
  .site-main ul.products li.post img {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  .site-main-shop ul.products li.product:hover img,
  .site-main-shop ul.products li.post:hover img,
  .site-main ul.products li.product:hover img,
  .site-main ul.products li.post:hover img {
    opacity: 0.5; }
  .site-main-shop .columns-1 ul.products li.product,
  .site-main-shop .columns-1 ul.products li.post,
  .site-main .columns-1 ul.products li.product,
  .site-main .columns-1 ul.products li.post {
    width: 100%;
    margin-right: 0;
    float: none; }
  .site-main-shop .columns-2 ul.products li.product,
  .site-main-shop .columns-2 ul.products li.post,
  .site-main .columns-2 ul.products li.product,
  .site-main .columns-2 ul.products li.post {
    width: 48%;
    margin-right: 3.8%; }
  .site-main-shop .columns-3 ul.products li.product,
  .site-main-shop .columns-3 ul.products li.post,
  .site-main .columns-3 ul.products li.product,
  .site-main .columns-3 ul.products li.post {
    width: 29.4117647059%;
    float: left;
    margin-right: 5.8823529412%; }
  .site-main-shop .columns-4 ul.products li.product,
  .site-main-shop .columns-4 ul.products li.post,
  .site-main .columns-4 ul.products li.product,
  .site-main .columns-4 ul.products li.post {
    width: 22.05%;
    margin-right: 3.8%;
    overflow: hidden; }
    .site-main-shop .columns-4 ul.products li.product:hover .button,
    .site-main-shop .columns-4 ul.products li.post:hover .button,
    .site-main .columns-4 ul.products li.product:hover .button,
    .site-main .columns-4 ul.products li.post:hover .button {
      opacity: 1;
      left: 0;
      text-decoration: none; }
  .site-main-shop .columns-5 ul.products li.product,
  .site-main-shop .columns-5 ul.products li.post,
  .site-main .columns-5 ul.products li.product,
  .site-main .columns-5 ul.products li.post {
    width: 16.9%;
    margin-right: 3.8%; }
  .site-main-shop .columns-6 ul.products li.product,
  .site-main-shop .columns-6 ul.products li.post,
  .site-main .columns-6 ul.products li.product,
  .site-main .columns-6 ul.products li.post {
    width: 11.7647058824%;
    float: left;
    margin-right: 5.8823529412%; }
  .site-main-shop ul.products li.product,
  .site-main ul.products li.product {
    width: 29.4117647059%;
    float: left;
    margin-right: 5.8823529412%; }
    .site-main-shop ul.products li.product:hover .button,
    .site-main ul.products li.product:hover .button {
      opacity: 1;
      left: 0; }
  /**
	 * Single product page
	 */
  .single-product div.product .images {
    width: 41.1764705882%;
    float: left;
    margin-right: 5.8823529412%;
    margin-bottom: 2.617924em; }
    .single-product div.product .images .thumbnails:before, .single-product div.product .images .thumbnails:after {
      content: "";
      display: table; }
    .single-product div.product .images .thumbnails:after {
      clear: both; }
    .single-product div.product .images .thumbnails a.zoom {
      width: 14.2857142857%;
      float: left;
      margin-right: 14.2857142857%; }
      .single-product div.product .images .thumbnails a.zoom.last {
        float: right;
        margin-right: 0; }
  .single-product div.product .woocommerce-product-gallery {
    width: 41.1764705882%;
    float: left;
    margin-right: 5.8823529412%;
    margin-bottom: 2.617924em; }
  .single-product div.product .summary {
    width: 52.9411764706%;
    float: right;
    margin-right: 0; }
  .single-product div.product .woocommerce-tabs {
    clear: both; }
  #reviews .comment-form-author,
  #reviews .comment-form-email {
    width: 47%; }
  #reviews .comment-form-email {
    margin-right: 0; }
  .shopper-full-width-content.single-product div.product .images {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
    margin-bottom: 2.617924em; }
    .shopper-full-width-content.single-product div.product .images .thumbnails a.zoom {
      width: 14.2857142857%;
      float: left;
      margin-right: 14.2857142857%; }
      .shopper-full-width-content.single-product div.product .images .thumbnails a.zoom.last {
        margin-right: 0; }
  .shopper-full-width-content.single-product div.product .woocommerce-product-gallery {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
    margin-bottom: 2.617924em; }
    .shopper-full-width-content.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
      width: 14.2857142857%;
      float: left;
      margin-right: 14.2857142857%; }
  .shopper-full-width-content.single-product div.product .summary {
    width: 65.2173913043%;
    float: right;
    margin-right: 0;
    margin-bottom: 2.617924em; }
  .shopper-full-width-content.single-product div.product .woocommerce-tabs {
    clear: both; }
  .shopper-full-width-content.single-product .related ul.products li.product,
  .shopper-full-width-content.single-product .upsells ul.products li.product {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%; }
  .woocommerce .page-description {
    margin-bottom: 1.618em; }
  .shopper-sorting {
    margin-bottom: 2.2906835em; }
    .shopper-sorting:before, .shopper-sorting:after {
      content: "";
      display: table; }
    .shopper-sorting:after {
      clear: both; }
    .shopper-sorting select {
      background: #fff;
      border: 1px solid #ddd;
      height: 2.507em;
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
      box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.02);
      display: inline-block;
      padding: 0 .75em; }
  .woocommerce-result-count {
    float: left;
    position: relative;
    margin-bottom: 0;
    padding: .427em 0 .327em; }
  .woocommerce-ordering {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
    padding: 0; }
  .shopper-nav-pos-right .woocommerce-pagination {
    float: right;
    border: 0;
    clear: none;
    padding: 0;
    margin-bottom: 0; }
  .shopper-nav-pos-left .woocommerce-pagination {
    float: left;
    border: 0;
    clear: none;
    padding: 0;
    margin-bottom: 0; }
  .shopper-nav-pos-center .woocommerce-pagination {
    border-top: 0;
    border-bottom: 0;
    padding: 0; }
  /**
	 * Cart
	 */
  .woocommerce-cart .hentry,
  .woocommerce-checkout .hentry {
    border-bottom: 0;
    padding-bottom: 0; }
  .page-template-tpl-page-fullwidth-php table.cart .product-thumbnail {
    display: table-cell; }
  .page-template-tpl-page-fullwidth-php table.cart thead {
    font-size: 1em;
    text-indent: 0; }
  table.cart th,
  table.cart td {
    padding: 0.75em;
    vertical-align: middle; }
  table.cart th {
    background: #f5f5f5; }
  table.cart .qty {
    padding: 0.875em;
    max-width: 3.632em; }
  table.cart td.product-remove {
    display: table-cell;
    padding: 1.41575em 0;
    border: 0;
    text-align: center; }
    table.cart td.product-remove a.remove {
      float: none;
      position: relative;
      top: auto;
      right: auto; }
  table.cart .product-quantity .plus,
  table.cart .product-quantity .minus {
    display: inline-block; }
  table.cart .quantity .qty {
    padding: 0.75em; }
  table.cart td.actions {
    text-align: right; }
    table.cart td.actions label {
      display: none; }
    table.cart td.actions .coupon {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
      display: inline-block;
      float: left; }
      table.cart td.actions .coupon .input-text {
        float: left;
        border-right: none; }
    table.cart td.actions input {
      display: inline-block;
      width: auto;
      margin: 0; }
  .cart-collaterals:before, .cart-collaterals:after {
    content: "";
    display: table; }
  .cart-collaterals:after {
    clear: both; }
  .cart-collaterals h2 {
    font-size: 1.618em; }
  .cart-collaterals .cross-sells {
    width: 41.1764705882%;
    float: left;
    margin-right: 5.8823529412%; }
    .cart-collaterals .cross-sells ul.products li.product {
      width: 42.8571428571%;
      float: left;
      margin-right: 14.2857142857%; }
      .cart-collaterals .cross-sells ul.products li.product:nth-child(2n) {
        margin-right: 0 !important; }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    width: 52.9411764706%;
    float: right;
    margin-right: 0;
    margin: 0;
    clear: right; }
  .cart-collaterals .cart_totals {
    background-color: #f5f5f5;
    padding: 1.41575em; }
    .cart-collaterals .cart_totals small.includes_tax {
      display: block; }
  .cart-collaterals .shipping_calculator {
    clear: right; }
  .page-template-tpl-page-fullwidth-php .cart-collaterals .cross-sells {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
    .page-template-tpl-page-fullwidth-php .cart-collaterals .cross-sells ul.products li.product {
      width: 45.4545454545%;
      float: left;
      margin-right: 9.0909090909%; }
  .page-template-tpl-page-fullwidth-php .cart-collaterals .cart_totals,
  .page-template-tpl-page-fullwidth-php .cart-collaterals .shipping_calculator {
    width: 47.8260869565%;
    float: right;
    margin-right: 0; }
  /**
	 * Checkout
	 */
  #ship-to-different-address {
    position: relative; }
    #ship-to-different-address .woocommerce-form__input-checkbox {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-right: 0; }
  .col2-set {
    width: 52.9411764706%;
    float: left;
    margin-right: 5.8823529412%; }
    .col2-set .form-row-first {
      width: 33.3333333333%;
      float: left;
      margin-right: 11.1111111111%; }
    .col2-set .form-row-last {
      width: 55.5555555556%;
      float: right;
      margin-right: 0; }
    .col2-set .col-1,
    .col2-set .col-2 {
      margin-bottom: 1.618em; }
    .col2-set + #customer_details {
      display: none; }
    .col2-set .woocommerce-billing-fields:before, .col2-set .woocommerce-billing-fields:after {
      content: "";
      display: table; }
    .col2-set .woocommerce-billing-fields:after {
      clear: both; }
    .col2-set.addresses {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .col2-set.addresses .col-1 {
        width: 47.0588235294%;
        float: left;
        margin-right: 5.8823529412%; }
      .col2-set.addresses .col-2 {
        width: 47.0588235294%;
        float: right;
        margin-right: 0; }
  #customer_details + #wc_checkout_add_ons {
    width: 41.1764705882%;
    float: right;
    margin-right: 0; }
  #wc_checkout_add_ons input[type=radio] {
    float: left;
    margin-right: 0.6180469716em;
    clear: left;
    margin-top: .35em; }
  #order_review_heading,
  #order_review {
    width: 41.1764705882%;
    float: right;
    margin-right: 0;
    clear: right; }
  #order_review {
    background-color: #ffffff;
    transition: box-shadow ease .4s; }
  #order_review_heading {
    margin-bottom: 0;
    padding-bottom: 0.75em; }
  .woocommerce-order-pay #order_review,
  .page-template-tpl-page-fullwidth-php.woocommerce-order-pay #order_review {
    width: 100%;
    float: none; }
    .woocommerce-order-pay #order_review #payment h3,
    .page-template-tpl-page-fullwidth-php.woocommerce-order-pay #order_review #payment h3 {
      padding-left: 1em;
      padding-top: 1em; }
    .woocommerce-order-pay #order_review #payment .form-row,
    .page-template-tpl-page-fullwidth-php.woocommerce-order-pay #order_review #payment .form-row {
      padding: 1em; }
    .woocommerce-order-pay #order_review .payment_methods + .form-row,
    .page-template-tpl-page-fullwidth-php.woocommerce-order-pay #order_review .payment_methods + .form-row {
      padding: 1em; }
    .woocommerce-order-pay #order_review .button#place_order,
    .page-template-tpl-page-fullwidth-php.woocommerce-order-pay #order_review .button#place_order {
      display: block;
      width: 100%;
      font-size: 1.41575em; }
  .page-template-tpl-page-fullwidth-php .col2-set {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
    .page-template-tpl-page-fullwidth-php .col2-set .form-row-first {
      width: 45.4545454545%;
      float: left;
      margin-right: 9.0909090909%; }
    .page-template-tpl-page-fullwidth-php .col2-set .form-row-last {
      width: 45.4545454545%;
      float: right;
      margin-right: 0; }
    .page-template-tpl-page-fullwidth-php .col2-set.addresses .col-1 {
      width: 47.8260869565%;
      float: left;
      margin-right: 4.347826087%; }
    .page-template-tpl-page-fullwidth-php .col2-set.addresses .col-2 {
      width: 47.8260869565%;
      float: right;
      margin-right: 0; }
  .page-template-tpl-page-fullwidth-php #order_review_heading,
  .page-template-tpl-page-fullwidth-php #order_review {
    width: 47.8260869565%;
    float: right;
    margin-right: 0; }
  .page-template-tpl-page-fullwidth-php #customer_details + #wc_checkout_add_ons {
    width: 47.8260869565%;
    float: right;
    margin-right: 0; }
  #order_review .shop_table {
    margin-bottom: 2.2906835em; }
  /**
	 * My Account
	 */
  table + .addresses {
    margin-top: 1.618em; }
  .col2-set#customer_login,
  .col2-set.addresses {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .col2-set#customer_login .col-1,
    .col2-set.addresses .col-1 {
      width: 41.1764705882%;
      float: left;
      margin-right: 5.8823529412%; }
    .col2-set#customer_login .col-2,
    .col2-set.addresses .col-2 {
      width: 52.9411764706%;
      float: right;
      margin-right: 0; }
  .woocommerce-MyAccount-navigation {
    width: 17.6470588235%;
    float: left;
    margin-right: 5.8823529412%; }
  .woocommerce-MyAccount-content {
    width: 76.4705882353%;
    float: right;
    margin-right: 0; }
    .woocommerce-MyAccount-content .form-row-first {
      width: 38.4615384615%;
      float: left;
      margin-right: 7.6923076923%; }
    .woocommerce-MyAccount-content .form-row-last {
      width: 53.8461538462%;
      float: right;
      margin-right: 0; }
  .left-sidebar:not(.page-template-tpl-page-fullwidth-php) .woocommerce-MyAccount-navigation {
    width: 17.6470588235%;
    float: right;
    margin-right: 0; }
  .left-sidebar:not(.page-template-tpl-page-fullwidth-php) .woocommerce-MyAccount-content {
    width: 76.4705882353%;
    float: left;
    margin-right: 5.8823529412%; }
  table.my_account_orders {
    font-size: 0.875em; }
  .page-template-tpl-page-fullwidth-php .col2-set#customer_login .col-1,
  .page-template-tpl-page-fullwidth-php .col2-set.addresses .col-1 {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
  .page-template-tpl-page-fullwidth-php .col2-set#customer_login .col-2,
  .page-template-tpl-page-fullwidth-php .col2-set.addresses .col-2 {
    width: 47.8260869565%;
    float: right;
    margin-right: 0; }
  .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-navigation {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%; }
  .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-content {
    width: 73.9130434783%;
    float: right;
    margin-right: 0; }
    .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-content .form-row-first {
      width: 46.6666666667%;
      float: left;
      margin-right: 6.6666666667%; }
    .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-content .form-row-last {
      width: 46.6666666667%;
      float: right;
      margin-right: 0; }
    .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-content .col2-set {
      width: 100%; }
      .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-content .col2-set .col-1 {
        width: 46.6666666667%;
        float: left;
        margin-right: 6.6666666667%; }
      .page-template-tpl-page-fullwidth-php .woocommerce-MyAccount-content .col2-set .col-2 {
        width: 46.6666666667%;
        float: right;
        margin-right: 0; }
  .addresses header.title:before, .addresses header.title:after {
    content: "";
    display: table; }
  .addresses header.title:after {
    clear: both; }
  .addresses header.title h3 {
    float: left; }
  .addresses header.title a {
    float: right;
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
    position: relative;
    padding: 0.875em;
    margin-top: 0.75em; }
    .addresses header.title a:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f044";
      line-height: 1.618;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      text-indent: 0; }
  /**
	 * General WooCommerce Components
	 */
  .form-row-first {
    width: 47.0588235294%;
    float: left;
    margin-right: 5.8823529412%;
    clear: both; }
  .form-row-last {
    width: 47.0588235294%;
    float: right;
    margin-right: 0; }
  .page-template-tpl-page-fullwidth-php .form-row-first {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
  .page-template-tpl-page-fullwidth-php .form-row-last {
    width: 47.8260869565%;
    float: right;
    margin-right: 0; }
  .shopper-full-width-content .woocommerce-tabs ul.tabs {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%; }
  .shopper-full-width-content .woocommerce-tabs .panel {
    width: 65.2173913043%;
    float: right;
    margin-right: 0;
    margin-bottom: 2.617924em; }
  .woocommerce-tabs {
    padding-top: 2.2906835em;
    padding-bottom: 2.2906835em; }
    .woocommerce-tabs:before, .woocommerce-tabs:after {
      content: "";
      display: table; }
    .woocommerce-tabs:after {
      clear: both; }
    .woocommerce-tabs ul.tabs {
      width: 29.4117647059%;
      float: left;
      margin-right: 5.8823529412%; }
      .woocommerce-tabs ul.tabs li:after {
        content: "\f105"; }
      .woocommerce-tabs ul.tabs li.active:after {
        right: 1em; }
    .woocommerce-tabs .panel {
      width: 64.7058823529%;
      float: right;
      margin-right: 0;
      margin-top: 0; } }

/**
 * Wishlist 
 */
.add-to-wishlist-custom {
  margin-top: 0;
  position: absolute;
  right: 100%;
  width: 100%;
  top: 0;
  background: #f25268;
  color: #fff;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  line-height: 31px;
  white-space: nowrap;
  z-index: 9; }

a.add_to_wishlist {
  cursor: pointer;
  padding: 0px 10px;
  text-decoration: none; }
  a.add_to_wishlist:hover {
    opacity: 0.6; }

.add-to-wishlist-custom .yith-wcwl-add-button a:before {
  font-family: 'FontAwesome';
  content: "\f004";
  margin-right: 5px; }

.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a {
  color: #f25268;
  padding-left: 0; }

.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:hover {
  color: #f07b8a;
  opacity: 1; }

.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:before {
  font-family: FontAwesome;
  content: "\f004";
  margin-right: 5px; }

.add-to-wishlist-custom a {
  color: #fff;
  font-weight: 400;
  display: block; }

.add-to-wishlist-custom img.ajax-loading {
  margin: 0 0 0 5px !important;
  display: none !important;
  height: 16px;
  width: 16px;
  padding: 0; }

.woocommerce ul.products li.product:hover .add-to-wishlist-custom {
  right: 0;
  opacity: 1; }

.yith-wcwl-wishlistexistsbrowse.show {
  white-space: initial;
  padding: 2px 4px;
  line-height: 22px; }

/**
 * Widgets Footer
 */
.footer-widgets .product_list_widget del {
  color: #cccccc; }

.footer-widgets .product_list_widget ins {
  color: #ffffff; }

.footer-widgets .widget_product_search {
  font-size: 0.875em; }

@media (min-width: 767px) and (max-width: 67.141em) {
  .woocommerce-breadcrumb {
    margin-left: -2.618rem;
    margin-right: -2.618rem;
    padding-left: 2.618rem;
    padding-right: 2.618rem; } }

/*# sourceMappingURL=woocommerce.css.map */