body {
    font-family: sans-serif;
}

@font-face {
    font-family: ff1;
    src: url(f1.woff)format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 1.432129;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.wrapper_div
{
    /*width: 100%;*/
    text-align: center;
}
.wrapper_div p
{
    padding: 10px;
    padding-bottom: 0px;
    font-size: 12px;
}
.table1,.asd
{
    border:none !important;
}
* { margin: 0; padding: 0; }
td
    {
        padding: 5px 10px;
    }
    .tr_1
    {

    }
    .td_1
    {

    }
    .table1
    {

    }
    .wrapper
    {
        width: 100%;
        float: left;

    }
    .table_box
    {
        width: 90%;
        margin: auto;
    }
    .tr_new
    {

    }
    .tr_new td
    {
    border: none;
    border-right: 1px solid black !important;
    }
    .tr_new td:nth-child(2),.tr_new td:nth-child(5)
    {
         font-family: ff1;
    line-height: 1.432129;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    }
.head_invocie
{
    width: 100%;
    text-align: center;
    font-weight: 28px;
    padding: 4px;
}
.table_one
{
	width: 100%;
	float: left;

}
.terms p
{
    text-align: left;
}
.last_1
{    width: 100%;
    float: left;
}
.last2
{
width: 50%;
    float: left;
    text-align: left;
}
.last_p
{
    padding: 5px;
    height: 75px;
    font-size: 12px;
}
.last3
{
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 70px;
}
.last4
{
	width: 100%;
    float: right;
    border: 1px solid black;
    font-size: 10px;
    text-align: center;
    padding: 4px 0px;
        border-right: none;
    border-bottom: none;
}
.last3 table td, .last3 table th
{
	border: none !important;
}
.last4_aut
{
	text-align: right;
    margin-top: 15px;
    padding: 0px 10px;
}
.second_table table ,.second_table tr,.second_table td
{
    border: none;
}
.second_table textarea
{
    height: 50px;
    width: 100%;
}
.second_table input
{
border: none;
}
.two_tab
{
height: 205px;
}
.half_inputfield,.inputfield,.new_filed
{
    border: none;
}
.inputfield
{
    width: 100%;
}
.new_filed
{
    width: 5%;
}
textarea { 
    border: 0;
    font-size: 13px;
    overflow: hidden;
    resize: none;
    min-height: 0px;
 }
 .buyer_text
 {
    width: 100%;
    height: 140px;
 }
 .terms_textarea
 {
    height: 80px;
    width: 100%;
 }
table { border-collapse: collapse;width: 100%; }
table td{ 

border: 1px solid black;
padding: 2px 5px;
vertical-align: top;
font-size: 12px;
}