

body,html{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 0!important;
    color:black;    
    /*overflow-x: hidden;*/
/*    font-family: 'Work Sans',sans-serif;
*/}
/*select.form-control
{
    border: 1px solid #ccc !important;
}*/

table
{
    font-size: 13px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px 8px;
}
.date_input_field
{
    width: 90%;
    float: left;


}
.details label {
    color: #337ab7;
    font-size: 12px;
}
.details1
{
        background-color: white;
    width: 100%;
    float: left;
    padding: 1%;
}
#search-box {
border: none !important;
    border-bottom: 1px solid #ccd0d4 !important;
    }
/*.new_registration_details .form-control,.dsr_form_details .form-control,.library_form_details .form-control
    {
    display: block;
    width: 90%;
    height: 25px;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #ccd0d4;
    border-radius: 0px !important;
    font-size: 12px; 
    }*/
.dsr_form_reports_tb table > tbody > tr > td, .dsr_form_reports_tb table > tbody > tr > th, .dsr_form_reports_tb table > tfoot > tr > td, .dsr_form_reports_tb table > tfoot > tr > th, .dsr_form_reports_tb table > thead > tr > td, .dsr_form_reports_tb table > thead > tr > th {
    padding: 5px 5px;
    font-size: 13px;
}
.dsr_form_reports_tb
{
    padding: 0px;
}
.date_filling{
    margin-bottom: 3px
}
.center{
    margin: 11% auto;
    width: 30%;
    border: 1px solid lightgray;
    padding: 29px;
}
.login_btn{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: -1%;
}
.block:hover{
    background: rgba(0,0,0,0.2);
}
.blck_img:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.marquee{
    width: 100%;
    float: left;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
   /* padding: 8% 0px;*/
}
.marquee_frame
{
    width: 100%;
    float: left;
    border: none; 
}
.marquee1{
    width: 100%;
    float: left;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 8% 0px;
    background: white;
    margin-top: 5%;
    height: 475px;
}
.homeBullet {
    padding-top: 5px;
    vertical-align: top;
    width: 2px;
}
.clBlueBox {
    background: #E7ECF2;
    text-align: left;
    border: solid 1px #CED7E8;
}
#main_menus{
    height: 330px;
    overflow: auto;
    margin-bottom: 4%;
}
.block{
    width: 19% !important;
    margin: 0px 3px;
    float: left;
    border: 1px solid lightgray;
    padding: 1%;
    border-radius: 0px;
    margin-bottom: 1%;
    cursor: pointer;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,.2);
    height: 120px;
}

.container-fluid{
    width: 90%;
}

.blck_img{
    float: left;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 60px;
}
.block img{
       height: 100%;
    padding: 10px;
    display: block;
    margin: auto;
}
.block p{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 13px;
}
.block i{
    font-size: 40px;
     text-align: center; 
    width: 100%;
}
.calendr{
    color: black;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: lightgray;
    padding: 6px 7px;
}
.form_datetime{
    width: 3%;
}
.header{
    background-color: #275FA9;
}
.header_right{
    width: 35%;
}
.fa{
    position: relative;
    font-size: 17px;
    cursor: pointer;
  /*  float: left;*/
}
.fa-angle-up{
        top: 6px;
    /* text-align: center; */
    width: 100%;
    float: left;
}
.badge{
    position: relative;
    top: -10px;
    background: red;
    padding: 2px 3px!important;
    font-size: 10px;
}
/*.dropdown{
    width: 22%;
    float: left;
    top: 15px;
}*/
/*.dropdown-menu{
    top: 37px;
}*/
#search1 {
   
  padding: 3px;
  padding-right: 60px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  cursor: pointer;
}
/*#search{
       width: 100%;
    font-size: 16px;
    margin-top: 4px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 208px 5px;
    background-repeat: no-repeat;
    border-radius: 19px;
    padding: 12px 20px 12px 12px;
}*/
.user_prof{
    width:14%;
    float: left;
    margin-top: 10%;
}
.opportunities{
    padding: 16px;
}

.user_name{
    margin-top: 13px;
    color: white;
    margin-left: 2%;
}
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: white;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}
ul.breadcrumb li a {color: blue;}

.details,.opportunities{
    background-color: white;
    width: 100%;
    float: left;
    padding: 1%;
}
.details_user{
    background-color: white;
    float: left;
    padding: 1%;
}
.form2{
    background-color: #EBEBEB;
    padding: 30px;
}
label{
    color: black;
    font-size: 15px;    
}
.buttons{
    padding: 10px 39px;
}
.wrapper_login{
/*  background-image: url('../img/bg_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}
.modal_ul{
    list-style-type: decimal;
}
.caret{
    position: relative;
   /* top: 18px;*/
    width: 9px;
    color: white;
}
.heading,.zm_sales_heading,.sm_sales_heading,.asm_sales_heading,.rm_sales_heading,.intern_sales_heading{
    width: 100%;
    float: left;
    margin-bottom: 1%;
}
#graph_section{
   /* float: left;*/
    width: 100%;
}
.heading{
    background-color: #275FA9;
}
.zm_sales_heading{
    background-color: #f59c1a;
}
.sm_sales_heading{
    background-color: #49b6d6; 
}
.asm_sales_heading{
    background-color: #ff5b57;
}
.rm_sales_heading{
    background-color: #00acac;
}
.intern_sales_heading{
    background-color: #929ba1;
}
.rm_submit{
    float: left;
width: 100%;
text-align: center;
}
.note_text{
    /*position: absolute;.....comment because it is not display on mobile screen properly*/
width: 100%;
}
h4{
    width: 95%;
    float: left;
    color: white;
    margin-left: 1%;
}
/*.fa-users{
        margin-left: 8px;
    top: 9px;
}*/
.tables{
    width: 100%;
    float: left;
}
.btn-default{
    background-color: #B6B6B6;
    color: white;
}
.one{
    width: 100%;
    padding: 8px 8px;
    float: left;
    border-bottom: 1px solid lightgray;
}
.register{
    width: 45%;
      margin: 3% auto;
    border: 1px solid lightgray;
    padding: 1%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
textarea{
    resize: none;
}
.register-buttons{
    width: 100%;
    margin: 3% auto;
    float: left;
    text-align: center;
}
.register-buttons button{
    width: 15%;
    margin: 0 auto;
}
#container1,#container2,#container3,#container4,#zm_chart1,#zm_chart2,#zm_chart3,#zm_chart4,#sm_chart1,#sm_chart2,#sm_chart3,#sm_chart4,#asm_chart1,#asm_chart2,#asm_chart3,#asm_chart4,#rm_chart1,#rm_chart2,#rm_chart3,#rm_chart4,#intern_chart1,#intern_chart2,#intern_chart3,#intern_chart4{
    border: 1px dotted lightgray;
}
#search{
    width: 200px;
    padding: 5px 15px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.crm_new_reg{
    margin: 3% 0px;
}
.crm_new_reg1{
    margin: 0%;
}
/*User Profile Css*/
.user-profile-box {
    background-color: white;
    border-top-color: #3c8dbc;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.img-circle {
    border-radius: 50%;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-user-personal-info {
    margin-bottom: 0px !important;
}
.user-profile-subsection {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.user-profile-section {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.user-personal-info {
    padding-left: 25px !important;
    padding-right: 11px !important;
    font-size: 15px;
}
.user-eduction-pro {
    width: 100%;
    float: left;
}.user-other-information {
    width: 90%;
    float: left;
}
.u1 {
    padding-right: 5px;
    color: teal;
    text-decoration: none;
}
.box1 {
    position: relative;
    border-radius: 10px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    text-align: center;
    width: 65%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
}
hr{
    margin-top: 8px;
}
.head_chat{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1020;
    cursor: move;
    padding: 0;
}
.enter_msg_chat{
    width: 220px;
    float: left;
    background-image: url('../img/bg_chat.jpg');
}
.head_chat1{
    background-color: #f99d39;
    color: white;
    width: 220px;
    float: left;
    padding: 5px 5%;
    border: 1px solid lightgray;
}
.chat_heading{
    background-color: #f99d39;
    color: white;
    width: 220px;
    float: left;
    padding: 5px 0%;
    border: 1px solid lightgray;
}
.chat_content{
    width: 100%;
    float: left;
    cursor: auto;
}
.head_chat1 i{
        top: 4px;
}
.chat_body{
    font-family: 'Work Sans',sans-serif;
    font-size: 13px;
    color: #333333;
    height: 200px;
    overflow-y: auto;
    width: 220px;
    padding: 7px;
    background-image: url(../img/bg_chat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.head_chat1 p{
    width: 68%;
    float: left;
    font-size: 17px;
    margin-bottom: 0px;
}

.sub-menu li a:hover{
    background-color: rgba(255,255,255,0.07);
}
.highcharts-credits{
    display: none;
}
.imp_news_crm{
    width: 100%;
    float: left;
    border: 1px solid lightgray;
    padding: 1%;
    margin-top: 4%;
}
.imp_news_crm img{
    width: 16%;
    float: left;
}

.dsr_submit{
    text-align: center;
}
.dsr_table{
   /* border: 1px solid lightgray;*/
}

#datepicker-disabled-past{
    width: 1%;
}
.details h2{
    font-family: 'WorkSans SemiBold', sans-serif;
}
.online_user,.offline_user{
    float: left;
    border-left: 1px solid #ccc;
    background-color: #e9ebee;
    padding: 7% 1%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2)
}
.block1{
    width: 20%;
    margin-left: 2%;
    float: left;
    border: 1px solid lightgray;
    padding: 1%;
    border-radius: 4px;
    margin-bottom: 1%;
    cursor: pointer;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,.2);
    height: 102px;
}
.block1 img{
    width: 40%;
    border: 1px dotted lightgray;
    padding: 3%;
    border-radius: 6px;
}
.green{
    background: rgb(66, 183, 42);
    border-radius: 5px;
    height: 6px;
    margin-right: 9px;
    width: 6px;
    float: left;
    position: relative;
    top: 13px;
}
.red{
    background-color: red;
    border-radius: 5px;
    height: 6px;
    margin-right: 9px;
    width: 6px;
    float: left;
    position: relative;
    top: 13px;
}
.friend_msg{
    width: 100%;
    float: left;
}
.friend_msg img{
        width: 10%;
    margin-right: 2%;
}
.my_msg{
    width: 100%;
    float: left;
}
.my_msg_body{
     background: #00ACAC;
    border-radius: 10px;
    width: 70%;
    border: 1px solid #00ACAC;
    float: right;
    margin: 3% auto;
    padding: 1% 3%;
}
.green1{
    background: rgb(66, 183, 42);
    border-radius: 5px;
    height: 6px;
    margin-right: 6px;
    width: 6px;
    float: left;
    position: relative;
    top: 8px;
}
.msg_body{
    background: lightgray;
    border-radius: 10px;
    width: 70%;
    border: 1px solid lightgray;
    float: left;
    padding: 1% 3%;
}
.user_img{
    width: 15%;
    float: left;
    margin-right: 6%;
    border: 1px solid lightgray;
    margin-bottom: 4%;
}
.open_chat{
    cursor: pointer;
}
.user_profile{
     width: 15%;
    float: left;
    border: 1px solid lightgray;
    margin-bottom: 4%;
}
.online_user p{
    font-size: 14px;
}
.single_chat{
    position: fixed;
    bottom: 0px;
    right: 272px;
    z-index: 1020;
    cursor: move;
    padding: 0;
}
.user_name_crm{
    width: 80%;
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
}
.online_user_list{
   margin-top: -40px;
}
.minimize_chat,.close_chat{
    width: 32%;
    font-size: 14px;
    top: 4px;
}
.tab-pane{
    margin-top: 3%;
}
.marquee_tr td{
        padding-top: 2%;
}
.marquee_tr{
    border-bottom: 1px solid lightgray;
}
.client_name{
    width: 20%;
}

.client_name label{
        font-size: 16px;
}

.profile-user-img{
    width: 40%;
    text-align: center;
}
.table_tabs li.active a{
    background-color: gray;
    color: white;
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 15px;
    float: left;
    border-radius: 5px;
}
.table_tabs li a{
    float: left;
    padding: 10px 15px;
    font-size: 15px;
}
.dist_emp_sub{
    width: 100%;
    text-align: center;
    float: left;
}
.dist_emp_sub button{
    width: 15%;
    margin: 2% auto;
}

.jr_img{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    border: 1px solid lightgray;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 0px;
   /* max-height: 330px;*/
}
.jr_img img{
    width: 100%;
    max-height: 300px;
}

/*todays css*/

.year{
    width: 35%;
    float: right;
}
#step-1,#step-2,#step-3,#step-4,#step-5{
    margin-left: 0px;
}

.sub_submit{
    text-align: center;
}
.web b{
    font-size: 14px;    
}
.web{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;
}
.tr1{
    font-size: 20px;
    font-weight: bold;
}
.pay_table1{
    width: 80%;
    margin: 20px auto;
}
.pay_table1 th{
        background: cadetblue!important;
    color: white;
    font-size: 14px;
}
.multiselect{
    background: transparent!important;
    width: 100%;
    text-align: left;
    border-color: #ddd!important;
    color: black!important
}
.multiselect .caret{
      color: gray;
    float: right;
    top: 7px;
}
.multiselect-container{
        width: 100%;
    border: 1px solid blue;
}
.multiselect-native-select .btn-group{
    width: 100%;
    float: left;
}
.profile_img_que{
    width: 100%;
    border: 1px solid lightgray;
}
.list_of_que{
    list-style-type: decimal;
}
.ask_que{
        float: right;
    font-size: 20px;
    color: green;
    font-weight: bold;
    cursor: pointer;
}
.all_ques p{
       font-size: 16px;
}
.emp_name{
    right: 13px;
}
.home_btn{
    float: left;
    margin-right: 2%;
}
.profile_head{
    width: 50%;
/*float: left;*/
margin-top: 0px;
margin-left: 2%;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*width: 20%;*/
    margin-right: 2%;
    margin-bottom: 2%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
    width: 100%;
    float: left;
}
.card img{
    padding: 0px 14%;
}
.exe_ul li{
    width: 7%;
    float: left;
    list-style-type: none;
}
.bell_drop{
    height: 324px;
    overflow: auto;

}
.navbar-form
{
padding: 10px 5px !important;
}
.closebtn
{
   color: white;
    font-size: 40px;
    float: right;
    margin-top: -10px;
    margin-right: 6px;
    display: none;
    cursor: pointer;
}
.new_btn
{
    display: none;
    position: absolute;
    top: 55px;
    left: 24px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.head_chat{
    display: none;
}
div.col-sm-4 img
{
   margin-top: 15px !important;
}


#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
input.search_tele {
 width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 15px;
    background-color: white;
    background-image: url(../img/search.png);
    background-position: right 2px;
    background-repeat: no-repeat;
    background-size: 35px;
    padding: 8px 10px 8px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.search_tele:focus {
    width: 100%;
}
.telecaller_table_head
{
  width: 100%;
  float: left;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
}
.telecaller_search
{
  /*    border-bottom: 1px solid #eee;
    padding-bottom: 20px;*/
}
.telecaller_report_box .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #275fa7;
    box-shadow: none;
}
.telecaller_report_box .tele_heading
{
   width: 100%;
    text-align: center;
    background-color: rgb(255,99,35);
    color: white;
    padding: 3px;
    margin-bottom: 20px;
    float: left;
    font-size: 14px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.td_label
{
        width: 8%;
    padding: 10px 0px !important;
}
.td_label label {
    color: black;
    font-size: 13px;
    font-weight: 400;
}
.frame_div
{
    width: 100%;
    height: 280px;
    border: none;
    margin-bottom: 10px;
}
.panel-default > .panel-heading + .panel-collapse .panel-body, .panel-footer {
    border-top:none;
    border: 1px solid #275fa7;
}
@media only screen and (max-width: 1300px){
    .set{
        padding: 0px;
    }
    .user_name{
        font-size: 13px;
    }
    .card {
    width: 31% !important;
}
}

@media only screen and (max-width: 1200px){
    .user_name {
    font-size: 11px;
}

}
@media only screen and (max-width: 1040px){
    .navbar-form .form-control:focus {
  /*  width: 200px;*/
}
.block {
    width: 30% !important;
    height: 120px;
    }
    .col-md-12,.col-md-8 {
    padding: 0px;
}
.marquee iframe
{
    width: 100%;
}

.blck_img p {
    margin-bottom: -4px;
    font-size: 14px;
}
.small, small {
    font-size: 14px;
}
#graph_section {
    padding: 10px;
}
.col-md-3 {
    width: 50%;
}
.navbar-brand {
    margin-right: 0px;
    width: 75px;
}
.exe_ul li {
    width: 6%;
    }
    .btn {
    padding: 6px 5px;
    font-size: 12px;
}
.profile_head {
    width: 100%;
}
.user_new_btn
{
    margin: 5px 0px;
}
.col-md-3 {
    width: 100%;
}
.col-md-9 {
    width: 100%;
}
div.col-sm-4 img {
    width: 100%;
}
.marquee1
{
    display: none;
}
}
@media only screen and (max-width:800px){
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
    .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
     .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
      .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
       .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11,
 .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    position: initial;
}

.container-fluid {
       width: 90%;
    padding: 0px;
    margin: 0px;
    float: left;
}
.navbar-brand {
    margin-right: 0px;
    width: 60px;
    padding: 12px 10px;
}
.navbar-form .form-control {
    width: 160px;
    }
.navbar-nav>li>a {
    padding: 20px 4px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 5px;
    font-size: 10px;
    }
.details h3
{
    text-align: center;
}
.block {
    width: 31% !important;
}

.marquee iframe{
    margin: auto;
    display: block;
    padding: 20px 0px;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 0px;
    background: #fff;
    font-size: 12px;
}

.page-header {
    font-size: 15px;
}

div.col-sm-4 img
{
   margin-top: 15px !important;
}
.card {
    width: 100% !important;
    height: 260px !important;
    margin: 20px 0px!important;
}
.card img {
    padding: 0px 0%;
    display: block;
    margin: auto;
}
.card .container {
    padding: 2px 16px;
    width: 100%;
    float: left;
    text-align: center;
}
.exe_ul
{
    width: 100% !important;
    height: 135px;
    padding: 0px;
}
.exe_ul li {
    width: 20%;
    margin: 5px 8px;
}
.col-md-12 hr
{
    display: none;
}

.user-other-information {
    width: 100%;
}
.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion,.timeline:before {
    display: none;
}
.timeline>li>.timeline-item {
    margin-left: 0px;
    margin-right: 0px;
}
.timeline>li {
    margin-right: 0px;
    font-size: 12px;
}
.user-personal-info {
    padding-left: 5px !important;
    padding-right: 6px !important;
    font-size: 12px;
}
.page-header {
    font-size: 11px;
}
.profile-container,.bwizard-steps,.wizard-step-1 .col-sm-4{
    padding: 0px !important;
}
.timeline .timeline-body {
    margin-left: 0px;
    margin-right: 0pc;
}
/*.col-sm-8,.col-sm-4,.col-sm-2,.col-sm-3,.col-sm-6{
    width: 100%;
    padding: 0 10px;
}*/
.bwizard-steps li 
{
    padding: 2px !important;
}
.details p.col-md-4
{
    text-align: right;
    width: 86%;
    float: left;
}
.block img {
    padding: 0px;
}
.blck_img {
    margin: 10px auto;
    height: 50px;
}

}
@media only screen and (max-width: 740px){
.new_btn,.closebtn
{
    display: block;
}
.page-header-fixed {
    padding-top: 97px;
}
.block {
    width: 48% !important;
    height: 150px;
}

#graph_section {
    display: none;
}
.login.login-v2 {
    margin: 50px 0;
    width: 90%;
    left: 17px;
}
.navbar-nav>li>a {
    padding: 10px 4px;
}
.sidebar, .sidebar-bg {
    top: 97px;
    display: none;
}
.navbar-header {
    width: 62px;
    float: left;
}
.container-fluid {
    width: 85%;
}

.navbar-form .form-control, .navbar-form .form-control:focus {
    margin: 0;
    width: 380px !important;
}
.marquee{
    margin: 10px 0px;
}
.marquee iframe {
    width: 90%;
}
.opportunities {
    display: none;
}
.sidebar .nav>li>a {
    padding: 8px 10px;
    }
.heading {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 5%;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 11px;
    font-size: 14px;
}
.crm_new_reg
{
    padding: 0px !important;
}

    /* Hide table headers (but not display: none;, for accessibility) */
   #crm_new_reg thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    #crm_new_reg tr { border: 1px solid #ccc; }
    
    #crm_new_reg td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 35%; 
        display: block;
    }
    
    #crm_new_reg td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    #crm_new_reg td:nth-of-type(1):before { content: "Sr No."; }
    #crm_new_reg td:nth-of-type(2):before { content: "Name"; }
    #crm_new_reg td:nth-of-type(3):before { content: "Email"; }
    #crm_new_reg td:nth-of-type(4):before { content: "Mobile No."; }
    #crm_new_reg td:nth-of-type(5):before { content: "Reg. Date"; }
    #crm_new_reg td:nth-of-type(6):before { content: "Action"; }
}

@media only screen and (max-width: 600px){
    .orderform_table td ,   .orderform_table table tr td
    {
        width: 100% !important;
        float: left;
    }
    .order_btn
    {
        width: 50%;
float: left;
    }
#myDropdown_user
{
margin-left: -55px;
margin-top: 6px;
}
#myDropdown_logout
{
    margin-top: 6px;
    margin-left: -110px;
}
#myDropdown_bell
{
    margin-top: 6px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 8px;
    font-size: 14px;
}
.navbar-form .form-control, .navbar-form .form-control:focus {
    width: 360px !important;
}
.block {
    width: 48% !important;
    height: 120px;
}
.sidebar, .sidebar-bg {
    top: 96px;
}
.card {
    width: 90% !important;
        margin: 20px auto!important;
    border: 1px solid #eaeaea;
}
.exe_ul li {
    width: 28%;}
}
@media only screen and (max-width: 420px){
    .dataTable > tbody > tr > td, .dataTable > thead > tr > th
    {
        padding: 4px 4px;
    background: #fff;
    vertical-align: middle;
    text-align: center;
    }
    .form-control
    {
        height: 31px;
    }
    .btn-sm {
    padding: 4px 10px;
}
.glyphicon {
    right: 2px;
}
.container-fluid {
    width: 83%;
}
.panel-heading .nav-tabs>li>a {
    padding: 3px 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-size: 12px;
    border-bottom: 0px solid #fff;
}
.nav>li>a {
    padding: 7px 6px;
}
.nav-tabs>li>a {
    font-size: 12px;
}
.navbar-form {
    padding: 1px 2px !important;
}
.navbar-form .form-control, .navbar-form .form-control:focus {
    width: 195px !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 4px 2px;
    font-size: 11px;
}
}
@media only screen and (max-width: 380px){
.container-fluid {
    width: 82.5%;
}
.navbar-form {
    padding-right: 0px !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 2px;
}
.navbar-form .form-control, .navbar-form .form-control:focus {
    width: 185px !important;
}
.navbar-form .btn-search {
    top: 10px;
}
.h2, h2 {
    font-size: 20px;
}
.container,.content {
padding: 0px 0px !important;
    }
    .row {
    margin: 0 0px;
}
.panel-body {
    padding: 5px;
    }
    }
@media only screen and (max-width: 360px){

}

@media only screen and (max-width: 320px){
    .block {
    width: 47% !important;
}
    #myDropdown_bell {
    margin-right: -35px;
}
.container-fluid {
    width: 79%;
}
.navbar-brand {
    padding: 12px 5px;
}
.navbar-form {
    padding: 4px 1px !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 2px;
    font-size: 9px;
    float:left;
}
.navbar-form .form-control, .navbar-form .form-control:focus {
    width: 150px !important;
}
.navbar-form .btn-search {
    right: 0px;
    top: 6px;
}
.new_btn {
    top: 52px;
    left: 20px;
    font-size: 20px;
}

.blck_img {
  margin: 10px auto;
    }
.fa {
    font-size: 14px;
    }
    .btn {
    padding: 0px 5px;
    font-size: 12px;
}
.exe_ul li {
    width: 45%;
    margin: 5px 6px;
}
.exe_ul li input
{
    width: 100%;
}
.nav>li>a {
    padding: 12px 4px;
}
}
::selection{
    background-color: #00acac;
    color: white;
}
::placeholder{
    
    color: black;
}